data/node-red/data/flows.json
[{"id":"57c74ba9.febd44","type":"tab","label":"Lightcontrol","disabled":false,"info":""},{"id":"48004b8d.6f1d24","type":"tab","label":"Time","disabled":false,"info":""},{"id":"cca17b8b.a3a098","type":"tab","label":"Weather","disabled":false,"info":""},{"id":"6a1f9333.0e1c8c","type":"tab","label":"Radio","disabled":false,"info":""},{"id":"f33913d3.5c14f","type":"tab","label":"Alarm and Timer","disabled":false,"info":""},{"id":"7d70f1a6.26893","type":"tab","label":"Corona","disabled":false,"info":""},{"id":"36300df3.a60da2","type":"tab","label":"Wikipedia","disabled":false,"info":""},{"id":"3223fd7f.c1e582","type":"tab","label":"Good Morning Routine","disabled":false,"info":""},{"id":"dc2cb1ad.34c69","type":"tab","label":"Errorhandling","disabled":false,"info":""},{"id":"387409e0.bad016","type":"tab","label":"Debug","disabled":false,"info":""},{"id":"e4b2ae7a.7f898","type":"mqtt-broker","name":"rhasspy mqtt","broker":"pi4-2","port":"12183","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"9c5457fe.12dc28","type":"mqtt-broker","name":"our rhasspy mqtt","broker":"raspberrypi","port":"12183","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"5999adec.e962a4","type":"websocket-listener","path":"ws://pi4-2:12101/api/events/intent","wholemsg":"true"},{"id":"51f30724.1c0ce","type":"mqtt-broker","name":"mqtt","broker":"192.168.0.177","port":"12183","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"c72ecf2e.f1f44","type":"mpd-server","host":"192.168.2.206","port":"6600"},{"id":"ba16d3a5.53dae","type":"sqlitedb","db":"/app/timer.db","mode":"RW"},{"id":"5fdc7ce2.cf1014","type":"websocket in","z":"57c74ba9.febd44","name":"rhasspy in","server":"5999adec.e962a4","client":"","x":140,"y":300,"wires":[["b4c6f63c.f77d08"]]},{"id":"82aaf118.c23b8","type":"websocket in","z":"dc2cb1ad.34c69","name":"rhasspy in","server":"5999adec.e962a4","client":"","x":120,"y":280,"wires":[["6b338341.67193c"]]},{"id":"97ab04de.a81858","type":"template","z":"dc2cb1ad.34c69","name":"not recognized","field":"payload","fieldType":"msg","format":"text","syntax":"mustache","template":"Ich habe den Befehl nicht verstanden!","output":"str","x":520,"y":280,"wires":[["30a5d60e.9c0f8a"]]},{"id":"30a5d60e.9c0f8a","type":"http request","z":"dc2cb1ad.34c69","name":"TTS","method":"POST","ret":"txt","paytoqs":"ignore","url":"http://pi4-2:12101/api/text-to-speech","tls":"","persist":false,"proxy":"","authType":"","x":690,"y":280,"wires":[[]]},{"id":"6b338341.67193c","type":"switch","z":"dc2cb1ad.34c69","name":"check intent","property":"intent.name","propertyType":"msg","rules":[{"t":"eq","v":"Void","vt":"str"},{"t":"eq","v":"None","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":310,"y":280,"wires":[["97ab04de.a81858"],["97ab04de.a81858"]]},{"id":"144fae9c.9d3f21","type":"template","z":"57c74ba9.febd44","name":"turn off","field":"payload","fieldType":"msg","format":"json","syntax":"plain","template":"{\n    \"state\":\"OFF\"\n}","output":"json","x":770,"y":440,"wires":[["21d2c7ff.e4b508"]]},{"id":"44e3bdcd.b0d0d4","type":"template","z":"57c74ba9.febd44","name":"turn on","field":"payload","fieldType":"msg","format":"json","syntax":"plain","template":"{\n    \"state\":\"ON\"\n}","output":"json","x":780,"y":400,"wires":[["21d2c7ff.e4b508"]]},{"id":"e95b09df.39e838","type":"switch","z":"57c74ba9.febd44","name":"check temp","property":"slots.temp","propertyType":"msg","rules":[{"t":"eq","v":"warm","vt":"str"},{"t":"eq","v":"kalt","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":570,"y":300,"wires":[["bab5bc8b.470be"],["de70491b.5f3ad8"]]},{"id":"bab5bc8b.470be","type":"template","z":"57c74ba9.febd44","name":"set warm","field":"payload","fieldType":"msg","format":"json","syntax":"plain","template":"{\n    \"state\":\"ON\",\n    \"color_temp\":153\n}","output":"json","x":780,"y":280,"wires":[["21d2c7ff.e4b508"]]},{"id":"de70491b.5f3ad8","type":"template","z":"57c74ba9.febd44","name":"set cold","field":"payload","fieldType":"msg","format":"json","syntax":"plain","template":"{\n    \"state\":\"ON\",\n    \"color_temp\":0\n}","output":"json","x":780,"y":320,"wires":[["21d2c7ff.e4b508"]]},{"id":"1e120af6.918855","type":"mqtt out","z":"57c74ba9.febd44","name":"","topic":"zigbee2mqtt/Lampe/set","qos":"","retain":"","broker":"e4b2ae7a.7f898","x":1430,"y":300,"wires":[]},{"id":"b4c6f63c.f77d08","type":"switch","z":"57c74ba9.febd44","name":"check intent","property":"intent.name","propertyType":"msg","rules":[{"t":"eq","v":"ChangeBrightness","vt":"str"},{"t":"eq","v":"ChangeTemp","vt":"str"},{"t":"eq","v":"ChangeLightState","vt":"str"}],"checkall":"false","repair":false,"outputs":3,"x":350,"y":300,"wires":[["6aacd3d0.f8c4cc"],["e95b09df.39e838"],["1be5b010.30d76"]]},{"id":"1be5b010.30d76","type":"switch","z":"57c74ba9.febd44","name":"check on or off","property":"slots.state","propertyType":"msg","rules":[{"t":"eq","v":"ein","vt":"str"},{"t":"eq","v":"an","vt":"str"},{"t":"eq","v":"aus","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":580,"y":420,"wires":[["44e3bdcd.b0d0d4"],["44e3bdcd.b0d0d4"],["144fae9c.9d3f21"]]},{"id":"58456f82.e744e","type":"debug","z":"387409e0.bad016","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":310,"y":200,"wires":[]},{"id":"333da406.d9933c","type":"websocket in","z":"387409e0.bad016","name":"rhasspy in","server":"5999adec.e962a4","client":"","x":140,"y":200,"wires":[["58456f82.e744e"]]},{"id":"6aacd3d0.f8c4cc","type":"function","z":"57c74ba9.febd44","name":"set brightness","func":"var val = 255 / 100 * msg.slots.percent;\nmsg.payload = { \n    \"state\":\"ON\",\n    \"brightness\": val\n};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":780,"y":200,"wires":[["21d2c7ff.e4b508"]]},{"id":"21d2c7ff.e4b508","type":"switch","z":"57c74ba9.febd44","name":"check room if there is one","property":"slots.room","propertyType":"msg","rules":[{"t":"eq","v":"wohnzimmer","vt":"str"},{"t":"eq","v":"schlafzimmer","vt":"str"},{"t":"null"}],"checkall":"true","repair":false,"outputs":3,"x":1130,"y":300,"wires":[["1e120af6.918855"],[],["1e120af6.918855"]]},{"id":"608ed535.15eb7c","type":"function","z":"48004b8d.6f1d24","name":"generate time string","func":"var today = new Date();\nvar time = today.getHours() + \" Uhr \" + today.getMinutes();\nmsg = { payload: \"Es ist \" + time };\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":600,"y":240,"wires":[["cc5de36a.afec6"]]},{"id":"cc5de36a.afec6","type":"http request","z":"48004b8d.6f1d24","name":"TTS","method":"POST","ret":"txt","paytoqs":"ignore","url":"http://pi4-2:12101/api/text-to-speech","tls":"","persist":false,"proxy":"","authType":"","x":850,"y":240,"wires":[[]]},{"id":"a6bc54e.66deca8","type":"switch","z":"48004b8d.6f1d24","name":"check intent","property":"intent.name","propertyType":"msg","rules":[{"t":"eq","v":"GetTime","vt":"str"}],"checkall":"false","repair":false,"outputs":1,"x":370,"y":240,"wires":[["608ed535.15eb7c"]]},{"id":"38886150.c2667e","type":"websocket in","z":"48004b8d.6f1d24","name":"rhasspy in","server":"5999adec.e962a4","client":"","x":160,"y":240,"wires":[["a6bc54e.66deca8"]]},{"id":"19e6ae90.607e31","type":"http request","z":"cca17b8b.a3a098","name":"TTS","method":"POST","ret":"txt","paytoqs":"ignore","url":"http://pi4-2:12101/api/text-to-speech","tls":"","persist":false,"proxy":"","authType":"","x":1690,"y":280,"wires":[[]]},{"id":"8fed9688.21d528","type":"change","z":"cca17b8b.a3a098","name":"set city and country","rules":[{"t":"move","p":"slots.city","pt":"msg","to":"location.city","tot":"msg"},{"t":"set","p":"location.country","pt":"msg","to":"germany","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":330,"y":280,"wires":[["3191454.b632fba"]]},{"id":"3327594b.252d66","type":"function","z":"cca17b8b.a3a098","name":"","func":"msg = {payload: \"Hier ist das Wetter für \" + msg.location.city + \": \" +  msg.payload[0].weather[0].description + \", bei \" + Math.round(msg.payload[0].main.temp) + \" Grad. Die Luftfeuchtigkeit beträgt: \" + msg.payload[0].main.humidity + \" %.\"};\nreturn msg;\n\n\n\n\n/*\nmsg = {payload: \"Hier ist das Wetter für \" + msg.payload.location + \": \" +  msg.payload.detail + \", bei \" + Math.round(msg.payload.tempc) + \" Grad. Die Luftfeuchtigkeit beträgt: \" + msg.payload.humidity + \" %.\"};\nreturn msg;\n*/","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1260,"y":200,"wires":[["19e6ae90.607e31"]]},{"id":"980248bf.1f5398","type":"function","z":"cca17b8b.a3a098","name":"","func":"var time = msg.payload.sunrise;\nvar date = new Date(time * 1000);\nvar hours = date.getHours();\nvar minutes = date.getMinutes();\nmsg = {payload: \"Die Sonne in \" + msg.payload.location + \" geht um \" + hours + \" Uhr\" + minutes + \" auf.\"};\nreturn msg;\n\n\n ","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1260,"y":260,"wires":[["19e6ae90.607e31"]]},{"id":"b40e2fd.50e2ad","type":"function","z":"cca17b8b.a3a098","name":"","func":"var time = msg.payload.sunset;\nvar date = new Date(time * 1000);\nvar hours = date.getHours();\nvar minutes = date.getMinutes();\nmsg = {payload: \"Die Sonne in \" + msg.payload.location + \" geht um \" + hours + \" Uhr\" + minutes + \" unter.\"};\nreturn msg;\n\n\n ","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1260,"y":320,"wires":[["19e6ae90.607e31"]]},{"id":"949d00e5.cd831","type":"openweathermap","z":"cca17b8b.a3a098","name":"","wtype":"forecast","lon":"","lat":"","city":"","country":"","language":"de","x":1070,"y":200,"wires":[["3327594b.252d66"]]},{"id":"c08ef8be.e61bd8","type":"openweathermap","z":"cca17b8b.a3a098","name":"","wtype":"current","lon":"","lat":"","city":"","country":"","language":"de","x":1070,"y":260,"wires":[["980248bf.1f5398"]]},{"id":"1ee99096.d59c4f","type":"openweathermap","z":"cca17b8b.a3a098","name":"","wtype":"current","lon":"","lat":"","city":"","country":"","language":"de","x":1070,"y":320,"wires":[["b40e2fd.50e2ad"]]},{"id":"783ce54d.3f87bc","type":"openweathermap","z":"cca17b8b.a3a098","name":"","wtype":"onecall","lon":"","lat":"","city":"","country":"","language":"de","x":1070,"y":380,"wires":[["e4b1951a.13a808"]]},{"id":"e4b1951a.13a808","type":"function","z":"cca17b8b.a3a098","name":"","func":"\nvar days = [\"Sonntag\", \"Montag\", \"Dienstag\", \"Mittwoch\", \"Donnerstag\", \"Freitag\", \"Samstag\"];\nvar today = new Date();\nvar returnMsg = \"Hier ist das Wetter für die kommenden Tage in \" + msg.entities[0].value + \". \";\nvar i = 0;\nfor (x of msg.payload.daily) {\n   y = new Date(x.dt * 1000); \n   if (y.getDay() != today.getDay()) {\n       returnMsg = returnMsg + days[y.getDay()] + \" \" + x.weather[0].description + \", bei \" + Math.round(x.temp.day) + \"Grad. \";\n   }\n}\n\nmsg = {payload: returnMsg};\n//msg = {payload: \"Test: \" + today.getFullYear()+'-'+(today.getMonth()+1)+'-'+today.getDate()+ \" \" + today.getHours() + \":\" + today.getMinutes() + \":\" + today.getSeconds()};\nreturn msg;\n\n/*\nmsg = {payload: \"Hier ist das Wetter für \" + msg.location.city + \": \" +  msg.payload[0].weather[0].description + \", bei \" + Math.round(msg.payload[0].main.temp) + \" Grad. Die Luftfeuchtigkeit beträgt: \" + msg.payload[0].main.humidity + \" %.\"};\nreturn msg;\n\n\n\n\n/*\nmsg = {payload: \"Hier ist das Wetter für \" + msg.payload.location + \": \" +  msg.payload.detail + \", bei \" + Math.round(msg.payload.tempc) + \" Grad. Die Luftfeuchtigkeit beträgt: \" + msg.payload.humidity + \" %.\"};\nreturn msg;\n*/","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1260,"y":380,"wires":[["19e6ae90.607e31"]]},{"id":"77ea0e4f.951e","type":"function","z":"cca17b8b.a3a098","name":"get coordinates for city","func":"msg.url = \"http://open.mapquestapi.com/geocoding/v1/address?key=hYS7bGx4JjHrBGKTz8wfoTkg5aFKN9ai&location=\" + msg.location.city + \",DE\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":220,"y":360,"wires":[["467618f.9c0a9e8"]]},{"id":"467618f.9c0a9e8","type":"http request","z":"cca17b8b.a3a098","name":"request to api to get coordinates","method":"GET","ret":"obj","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","x":490,"y":360,"wires":[["2ea2c6bb.307eaa"]]},{"id":"2ea2c6bb.307eaa","type":"change","z":"cca17b8b.a3a098","name":"set coordinates","rules":[{"t":"move","p":"payload.results[0].locations[0].latLng.lat","pt":"msg","to":"location.lat","tot":"msg"},{"t":"move","p":"payload.results[0].locations[0].latLng.lng","pt":"msg","to":"location.lon","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":740,"y":360,"wires":[["783ce54d.3f87bc"]]},{"id":"3191454.b632fba","type":"switch","z":"cca17b8b.a3a098","name":"check intent","property":"intent.name","propertyType":"msg","rules":[{"t":"eq","v":"GetWeatherInfo","vt":"str"},{"t":"eq","v":"GetSunriseInfo","vt":"str"},{"t":"eq","v":"GetSunsetInfo","vt":"str"},{"t":"eq","v":"GetWeeklyWeatherInfo","vt":"str"}],"checkall":"false","repair":false,"outputs":4,"x":530,"y":280,"wires":[["949d00e5.cd831"],["c08ef8be.e61bd8"],["1ee99096.d59c4f"],["77ea0e4f.951e"]]},{"id":"b39c9d3c.9b157","type":"websocket in","z":"cca17b8b.a3a098","name":"rhasspy in","server":"5999adec.e962a4","client":"","x":80,"y":280,"wires":[["4600f2f3.8e58bc"]]},{"id":"ca36a921.ad5c78","type":"switch","z":"6a1f9333.0e1c8c","name":"check intent","property":"intent.name","propertyType":"msg","rules":[{"t":"eq","v":"StartRadio","vt":"str"},{"t":"eq","v":"StopRadio","vt":"str"},{"t":"eq","v":"NextRadio","vt":"str"},{"t":"eq","v":"PrevRadio","vt":"str"}],"checkall":"false","repair":false,"outputs":4,"x":370,"y":300,"wires":[["65b92244.82644c"],["3f0f81e5.60e65e"],["a3e87213.3854f"],["c16c46c8.0d66a8"]]},{"id":"58c9a59b.b71e5c","type":"mpd out","z":"6a1f9333.0e1c8c","name":"","topic":"","server":"c72ecf2e.f1f44","x":1080,"y":280,"wires":[[]]},{"id":"9589b80f.5871f8","type":"function","z":"6a1f9333.0e1c8c","name":"on","func":"return msg = {payload : \"play\"};","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1030,"y":160,"wires":[["58c9a59b.b71e5c"]]},{"id":"3f0f81e5.60e65e","type":"function","z":"6a1f9333.0e1c8c","name":"off","func":"return msg = {payload : \"stop\"};","outputs":1,"noerr":0,"initialize":"","finalize":"","x":670,"y":280,"wires":[["58c9a59b.b71e5c","e7a57cf6.9ddd3"]]},{"id":"a3e87213.3854f","type":"function","z":"6a1f9333.0e1c8c","name":"next","func":"return msg = {payload : \"next\"};","outputs":1,"noerr":0,"initialize":"","finalize":"","x":670,"y":320,"wires":[["58c9a59b.b71e5c"]]},{"id":"e7a57cf6.9ddd3","type":"function","z":"6a1f9333.0e1c8c","name":"clear","func":"return msg = {payload : \"clear\"};","outputs":1,"noerr":0,"initialize":"","finalize":"","x":870,"y":220,"wires":[["58c9a59b.b71e5c"]]},{"id":"65b92244.82644c","type":"function","z":"6a1f9333.0e1c8c","name":"load","func":"return msg = {payload : \"load radiostations\"};","outputs":1,"noerr":0,"initialize":"","finalize":"","x":670,"y":240,"wires":[["58c9a59b.b71e5c","c7325c8a.9553f"]]},{"id":"c7325c8a.9553f","type":"function","z":"6a1f9333.0e1c8c","name":"repeat","func":"return msg = {payload : \"repeat 1\"};","outputs":1,"noerr":0,"initialize":"","finalize":"","x":870,"y":160,"wires":[["9589b80f.5871f8","58c9a59b.b71e5c"]]},{"id":"c16c46c8.0d66a8","type":"function","z":"6a1f9333.0e1c8c","name":"prev","func":"return msg = {payload : \"previous\"};","outputs":1,"noerr":0,"initialize":"","finalize":"","x":670,"y":360,"wires":[["58c9a59b.b71e5c"]]},{"id":"b2c56f69.8427","type":"websocket in","z":"6a1f9333.0e1c8c","name":"rhasspy in","server":"5999adec.e962a4","client":"","x":140,"y":300,"wires":[["ca36a921.ad5c78"]]},{"id":"4600f2f3.8e58bc","type":"switch","z":"cca17b8b.a3a098","name":"check if city is set","property":"slots.city","propertyType":"msg","rules":[{"t":"nnull"}],"checkall":"true","repair":false,"outputs":1,"x":330,"y":240,"wires":[["8fed9688.21d528"]]},{"id":"e6c99118.c799b","type":"function","z":"f33913d3.5c14f","name":"check timer and delete","func":"currentDate = new Date();\ncurrentDate.setMilliseconds(0);\n\nfor(var i = 0; i < msg.payload.length; i += 1) {\n    \n    timerDate = new Date(msg.payload[i].year, (msg.payload[i].month - 1), msg.payload[i].day, (msg.payload[i].hour), msg.payload[i].minute, msg.payload[i].second);\n    timerDate.setMilliseconds(0);\n    \n    if(timerDate.getTime() == currentDate.getTime())\n    return msg = {  topic: \"DELETE FROM timer WHERE timer_id = \" + msg.payload[i].timer_id + \";\",\n                    alarm: msg.payload[i].alarm};\n    \n    else if(timerDate < currentDate)\n    return msg = {  topic: \"DELETE FROM timer WHERE timer_id = \" + msg.payload[i].timer_id + \";\",\n                    notification: \"Vorhandener Timer ist während des Neustarts abgelaufen.\"};\n}","outputs":1,"noerr":0,"initialize":"var currentDate;\nvar timerDate;","finalize":"","x":840,"y":220,"wires":[["b9fab14d.d254","5c848611.4ee598"]]},{"id":"573e9ff4.93814","type":"inject","z":"f33913d3.5c14f","name":"checking for timers","props":[{"p":"topic","vt":"str"}],"repeat":"1","crontab":"","once":false,"onceDelay":0.1,"topic":"SELECT timer_id, strftime('%H',time) as hour, strftime('%M',time) as minute, strftime('%S',time) as second, strftime('%d',time) as day, strftime('%m',time) as month, strftime('%Y',time) as year, alarm FROM timer;","x":560,"y":280,"wires":[["b9fab14d.d254"]]},{"id":"b9fab14d.d254","type":"sqlite","z":"f33913d3.5c14f","mydb":"ba16d3a5.53dae","sqlquery":"msg.topic","sql":"","name":"send statement to db","x":840,"y":280,"wires":[["e6c99118.c799b","aa13c606.06bdd8"]]},{"id":"aa13c606.06bdd8","type":"switch","z":"f33913d3.5c14f","name":"check for notification","property":"notification","propertyType":"msg","rules":[{"t":"nnull"}],"checkall":"true","repair":false,"outputs":1,"x":1620,"y":360,"wires":[["fc28d5fd.073e58"]]},{"id":"a0afc237.79752","type":"switch","z":"f33913d3.5c14f","name":"check intent","property":"intent.name","propertyType":"msg","rules":[{"t":"eq","v":"setAlarm","vt":"str"},{"t":"eq","v":"setTimer","vt":"str"},{"t":"eq","v":"getRemainingTime","vt":"str"},{"t":"eq","v":"deleteAlarm","vt":"str"},{"t":"eq","v":"stopAlarm","vt":"str"}],"checkall":"true","repair":false,"outputs":5,"x":310,"y":540,"wires":[["181cd570.ec236b"],["4bc95283.9ede2c"],["3bae0c8d.b44b94"],["af5a4e4.b4bb2b"],["d5a8625f.1796e"]]},{"id":"4bc95283.9ede2c","type":"function","z":"f33913d3.5c14f","name":"build insert statement","func":"date = new Date();\n\n\nif( !msg.slots.timer_hour )\n    msg.slots.timer_hour = 0;\n    \nif( !msg.slots.timer_minute )\n    msg.slots.timer_minute = 0;\n    \nif( !msg.slots.timer_second )\n    msg.slots.timer_second = 0;\n\ndate.setHours((date.getHours()) + msg.slots.timer_hour);\ndate.setMinutes(date.getMinutes() + msg.slots.timer_minute);\ndate.setSeconds(date.getSeconds() + msg.slots.timer_second);\n\nif(msg.slots.timer_hour == 1) hourStr = \" Stunde, \";\nelse hourStr = \" Stunden, \";\n\nif(msg.slots.timer_minute == 1) minuteStr = \" Minute und \";\nelse minuteStr = \" Minuten und \";\n\nif(msg.slots.timer_second == 1) secondStr = \" Sekunde.\";\nelse secondStr = \" Sekunden.\";\n\nreturn msg = {  topic: \"INSERT INTO timer (time, alarm) VALUES (datetime('\" + date.getFullYear() + \"-\" + ('0' + (date.getMonth() + 1)).slice(-2) + \"-\" + ('0' + date.getDate()).slice(-2) + \" \"+ ('0' + date.getHours()).slice(-2) + \":\" + ('0' + date.getMinutes()).slice(-2) + \":\" + ('0' + date.getSeconds()).slice(-2) + \"'), 0);\",\n                notification: \"Teimer gestellt für \" + msg.slots.timer_hour + hourStr + msg.slots.timer_minute + minuteStr + msg.slots.timer_second + secondStr};","outputs":1,"noerr":0,"initialize":"var date;\n\nvar hourStr;\nvar minuteStr;\nvar secondStr;","finalize":"","x":560,"y":420,"wires":[["31129b8f.e57934"]]},{"id":"5c848611.4ee598","type":"switch","z":"f33913d3.5c14f","name":"check if alarm or timer","property":"alarm","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"num"},{"t":"eq","v":"0","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":1360,"y":220,"wires":[["8b2a120b.75b3a"],["e6028c34.951d5"]]},{"id":"3bae0c8d.b44b94","type":"function","z":"f33913d3.5c14f","name":"build select statement","func":"return msg = {topic: \"SELECT timer_id, strftime('%H',min(time)) as hour, strftime('%M',min(time)) as minute, strftime('%S',min(time)) as second, strftime('%d',min(time)) as day, strftime('%m',min(time)) as month, strftime('%Y',min(time)) as year FROM timer WHERE alarm = 0;\"};","outputs":1,"noerr":0,"initialize":"","finalize":"","x":560,"y":480,"wires":[["38d51a4b.788026"]]},{"id":"38d51a4b.788026","type":"sqlite","z":"f33913d3.5c14f","mydb":"ba16d3a5.53dae","sqlquery":"msg.topic","sql":"","name":"send statement to db","x":840,"y":480,"wires":[["98cbbf37.c884c"]]},{"id":"98cbbf37.c884c","type":"function","z":"f33913d3.5c14f","name":"check remaining time","func":"if(msg.payload[0].timer_id == null) return msg = {notification: \"Keine aktiven Timer vorhanden.\"};\n\ncurrentDate = new Date();\ncurrentDate.setMilliseconds(0);\n\ntimerDate = new Date(msg.payload[0].year, (msg.payload[0].month - 1), msg.payload[0].day, (msg.payload[0].hour - 1), msg.payload[0].minute, msg.payload[0].second);\ntimerDate.setMilliseconds(0);\n\ndiffDate = new Date(timerDate - currentDate);\n\nif(msg.payload[0].hour == 1) hourStr = \" Stunde, \";\nelse hourStr = \" Stunden, \";\n\nif(msg.payload[0].minute == 1) minuteStr = \" Minute und \";\nelse minuteStr = \" Minuten und \";\n\nif(msg.payload[0].second == 1) secondStr = \" Sekunde.\";\nelse secondStr = \" Sekunden.\";\n\nreturn msg = {notification: \"Nächster Timer in \" + diffDate.getHours() + hourStr + diffDate.getMinutes() + minuteStr + diffDate.getSeconds() + secondStr};","outputs":1,"noerr":0,"initialize":"var currentDate;\nvar timerDate;\nvar diffDate;","finalize":"","x":1120,"y":480,"wires":[["aa13c606.06bdd8"]]},{"id":"181cd570.ec236b","type":"function","z":"f33913d3.5c14f","name":"build select statement","func":"currentDate = new Date();\nalarmDate = new Date();\n\ncurrentDate.setHours(currentDate.getHours());\n\nif( !msg.slots.alarm_hour )\n    msg.slots.alarm_hour = 0;\n    \nif( !msg.slots.alarm_minute )\n    msg.slots.alarm_minute = 0;\n\nalarmDate.setHours(msg.slots.alarm_hour);\nalarmDate.setMinutes(msg.slots.alarm_minute);\n\nif(alarmDate > currentDate) {\n    return msg = {  topic: \"SELECT timer_id, strftime('%H',time) as hour, strftime('%M',time) as minute, strftime('%S',time) as second, strftime('%d',time) as day, strftime('%m',time) as month, strftime('%Y',time) as year, alarm FROM timer WHERE time = datetime('\" + alarmDate.getFullYear() + \"-\" + ('0' + (alarmDate.getMonth() + 1)).slice(-2) + \"-\" + ('0' + alarmDate.getDate()).slice(-2) + \" \"+ ('0' + alarmDate.getHours()).slice(-2) + \":\" + ('0' + alarmDate.getMinutes()).slice(-2) + \"');\",\n                    date: alarmDate};\n} else {\n    alarmDate.setDate(alarmDate.getDate() + 1);\n    return msg = {  topic: \"SELECT timer_id, strftime('%H',time) as hour, strftime('%M',time) as minute, strftime('%S',time) as second, strftime('%d',time) as day, strftime('%m',time) as month, strftime('%Y',time) as year, alarm FROM timer WHERE time = datetime('\" + alarmDate.getFullYear() + \"-\" + ('0' + (alarmDate.getMonth() + 1)).slice(-2) + \"-\" + ('0' + alarmDate.getDate()).slice(-2) + \" \"+ ('0' + alarmDate.getHours()).slice(-2) + \":\" + ('0' + alarmDate.getMinutes()).slice(-2) + \"');\",\n                    date: alarmDate};\n}","outputs":1,"noerr":0,"initialize":"var currentDate;\nvar alarmDate;","finalize":"","x":560,"y":360,"wires":[["af44725f.776c7"]]},{"id":"af44725f.776c7","type":"sqlite","z":"f33913d3.5c14f","mydb":"ba16d3a5.53dae","sqlquery":"msg.topic","sql":"","name":"send statement to db","x":840,"y":360,"wires":[["fffda091.4abad"]]},{"id":"fffda091.4abad","type":"function","z":"f33913d3.5c14f","name":"build insert statement","func":"currentDate = new Date();\n\nif(msg.payload[0] != null) {\n    return msg = {  notification: \"Wecker für diese Uhrzeit ist bereits vorhanden.\"};\n    \n} else if(msg.date.getDate() == currentDate.getDate()) {\n    return msg = {  topic: \"INSERT INTO timer (time, alarm) VALUES (datetime('\" + msg.date.getFullYear() + \"-\" + ('0' + (msg.date.getMonth() + 1)).slice(-2) + \"-\" + ('0' + msg.date.getDate()).slice(-2) + \" \"+ ('0' + msg.date.getHours()).slice(-2) + \":\" + ('0' + msg.date.getMinutes()).slice(-2) + \"'), 1);\",\n                    notification: \"Wecker gestellt für heute um \" + msg.date.getHours() + \" Uhr \" + msg.date.getMinutes() + \".\"};\n                    \n} else {\n    return msg = {  topic: \"INSERT INTO timer (time, alarm) VALUES (datetime('\" + msg.date.getFullYear() + \"-\" + ('0' + (msg.date.getMonth() + 1)).slice(-2) + \"-\" + ('0' + msg.date.getDate()).slice(-2) + \" \"+ ('0' + msg.date.getHours()).slice(-2) + \":\" + ('0' + msg.date.getMinutes()).slice(-2) + \"'), 1);\",\n                    notification: \"Wecker gestellt für morgen um \" + msg.date.getHours() + \" Uhr \" + msg.date.getMinutes() + \".\"};\n}","outputs":1,"noerr":0,"initialize":"var currentDate;","finalize":"","x":1120,"y":360,"wires":[["aa13c606.06bdd8","794d0d8e.8faf74"]]},{"id":"af5a4e4.b4bb2b","type":"function","z":"f33913d3.5c14f","name":"build select statement","func":"currentDate = new Date();\nalarmDate = new Date();\n\ncurrentDate.setHours(currentDate.getHours());\n\nif( !msg.slots.alarm_hour )\n    msg.slots.alarm_hour = 0;\n    \nif( !msg.slots.alarm_minute )\n    msg.slots.alarm_minute = 0;\n\nalarmDate.setHours(msg.slots.alarm_hour);\nalarmDate.setMinutes(msg.slots.alarm_minute);\n\nif(alarmDate > currentDate) {\n    return msg = {  topic: \"SELECT timer_id, strftime('%H',time) as hour, strftime('%M',time) as minute, strftime('%S',time) as second, strftime('%d',time) as day, strftime('%m',time) as month, strftime('%Y',time) as year, alarm FROM timer WHERE time = datetime('\" + alarmDate.getFullYear() + \"-\" + ('0' + (alarmDate.getMonth() + 1)).slice(-2) + \"-\" + ('0' + alarmDate.getDate()).slice(-2) + \" \"+ ('0' + alarmDate.getHours()).slice(-2) + \":\" + ('0' + alarmDate.getMinutes()).slice(-2) + \"');\",\n                    date: alarmDate};\n} else {\n    alarmDate.setDate(alarmDate.getDate() + 1);\n    return msg = {  topic: \"SELECT timer_id, strftime('%H',time) as hour, strftime('%M',time) as minute, strftime('%S',time) as second, strftime('%d',time) as day, strftime('%m',time) as month, strftime('%Y',time) as year, alarm FROM timer WHERE time = datetime('\" + alarmDate.getFullYear() + \"-\" + ('0' + (alarmDate.getMonth() + 1)).slice(-2) + \"-\" + ('0' + alarmDate.getDate()).slice(-2) + \" \"+ ('0' + alarmDate.getHours()).slice(-2) + \":\" + ('0' + alarmDate.getMinutes()).slice(-2) + \"');\",\n                    date: alarmDate};\n}","outputs":1,"noerr":0,"initialize":"var currentDate;\nvar alarmDate;","finalize":"","x":560,"y":540,"wires":[["42462399.85fd5c"]]},{"id":"42462399.85fd5c","type":"sqlite","z":"f33913d3.5c14f","mydb":"ba16d3a5.53dae","sqlquery":"msg.topic","sql":"","name":"send statement to db","x":840,"y":540,"wires":[["79c21263.69a08c"]]},{"id":"79c21263.69a08c","type":"function","z":"f33913d3.5c14f","name":"build delete statement","func":"currentDate = new Date();\n\nif(msg.payload[0] == null) {\n    return msg = {  notification: \"Es wurde kein Wecker für diese Uhrzeit gestellt.\"};\n    \n} else {\n    return msg = {  topic: \"DELETE FROM timer WHERE time = datetime('\" + msg.date.getFullYear() + \"-\" + ('0' + (msg.date.getMonth() + 1)).slice(-2) + \"-\" + ('0' + msg.date.getDate()).slice(-2) + \" \"+ ('0' + msg.date.getHours()).slice(-2) + \":\" + ('0' + msg.date.getMinutes()).slice(-2) + \"');\",\n                    notification: \"Wecker gelöscht.\"};\n}","outputs":1,"noerr":0,"initialize":"var currentDate;","finalize":"","x":1120,"y":540,"wires":[["aa13c606.06bdd8","8f5bb76a.2fdad8"]]},{"id":"8f5bb76a.2fdad8","type":"sqlite","z":"f33913d3.5c14f","mydb":"ba16d3a5.53dae","sqlquery":"msg.topic","sql":"","name":"send statement to db","x":1400,"y":540,"wires":[[]]},{"id":"31129b8f.e57934","type":"sqlite","z":"f33913d3.5c14f","mydb":"ba16d3a5.53dae","sqlquery":"msg.topic","sql":"","name":"send statement to db","x":840,"y":420,"wires":[["aa13c606.06bdd8"]]},{"id":"794d0d8e.8faf74","type":"sqlite","z":"f33913d3.5c14f","mydb":"ba16d3a5.53dae","sqlquery":"msg.topic","sql":"","name":"send statement to db","x":1360,"y":360,"wires":[[]]},{"id":"dbcc501e.78e93","type":"websocket in","z":"f33913d3.5c14f","name":"rhasspy in","server":"5999adec.e962a4","client":"","x":100,"y":540,"wires":[["a0afc237.79752"]]},{"id":"5d69eb8e.e85414","type":"http request","z":"f33913d3.5c14f","name":"TTS","method":"POST","ret":"txt","paytoqs":"ignore","url":"http://pi4-2:12101/api/text-to-speech","tls":"","persist":false,"proxy":"","authType":"","x":2290,"y":360,"wires":[[]]},{"id":"fc28d5fd.073e58","type":"change","z":"f33913d3.5c14f","name":"set notification as payload for TTS","rules":[{"t":"set","p":"payload","pt":"msg","to":"notification","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1980,"y":360,"wires":[["5d69eb8e.e85414"]]},{"id":"e6028c34.951d5","type":"function","z":"f33913d3.5c14f","name":"timer done","func":"\nreturn {payload: \"Teimer abgelaufen\"};","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1710,"y":260,"wires":[["5d69eb8e.e85414"]]},{"id":"8b2a120b.75b3a","type":"function","z":"f33913d3.5c14f","name":"start radio alarm","func":"return msg = {payload : \"load radiostations\"};","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1720,"y":200,"wires":[["dbc8b097.46edf","b14f93d6.2930f"]]},{"id":"b14f93d6.2930f","type":"function","z":"f33913d3.5c14f","name":"repeat","func":"return msg = {payload : \"repeat 1\"};","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1930,"y":200,"wires":[["21163037.c643b","dbc8b097.46edf"]]},{"id":"21163037.c643b","type":"function","z":"f33913d3.5c14f","name":"on","func":"return msg = {payload : \"play\"};","outputs":1,"noerr":0,"initialize":"","finalize":"","x":2070,"y":200,"wires":[["dbc8b097.46edf"]]},{"id":"dbc8b097.46edf","type":"mpd out","z":"f33913d3.5c14f","name":"","topic":"","server":"c72ecf2e.f1f44","x":2380,"y":200,"wires":[[]]},{"id":"d5a8625f.1796e","type":"function","z":"f33913d3.5c14f","name":"stop radio alarm","func":"return msg = {payload : \"stop\"};","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1820,"y":620,"wires":[["2f02ee43.957422","dbc8b097.46edf"]]},{"id":"2f02ee43.957422","type":"function","z":"f33913d3.5c14f","name":"clear","func":"return msg = {payload : \"clear\"};","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1990,"y":620,"wires":[["dbc8b097.46edf"]]},{"id":"d4359c76.425b1","type":"websocket in","z":"7d70f1a6.26893","name":"rhasspy","server":"5999adec.e962a4","client":"","x":250,"y":340,"wires":[["5a0497db.a27378"]]},{"id":"5a0497db.a27378","type":"switch","z":"7d70f1a6.26893","name":"check intent","property":"intent.name","propertyType":"msg","rules":[{"t":"eq","v":"CoronaStateInfo","vt":"str"},{"t":"eq","v":"CoronaDistrictInfo","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":450,"y":340,"wires":[["657c1bda.c903b4"],["2053bbe5.227cd4"]]},{"id":"657c1bda.c903b4","type":"http request","z":"7d70f1a6.26893","name":"request info from api","method":"GET","ret":"obj","paytoqs":"ignore","url":"https://services7.arcgis.com/mOBPykOjAyBO2ZKk/arcgis/rest/services/Coronaf%C3%A4lle_in_den_Bundesl%C3%A4ndern/FeatureServer/0/query?where=1%3D1&outFields=LAN_ew_GEN,Fallzahl,Death,cases7_bl,death7_bl&outSR=4326&f=json","tls":"","persist":false,"proxy":"","authType":"","x":680,"y":320,"wires":[["1daaed6c.274c4b"]]},{"id":"1daaed6c.274c4b","type":"function","z":"7d70f1a6.26893","name":"build tts","func":"var count=0;\nfor(i = 0; i < msg.payload.features.length; i++) {\n    if(msg.slots.state.toLowerCase() === msg.payload.features[i].attributes.LAN_ew_GEN.toLowerCase()) \n    {\n        msg.payload = \"Hier sind die Korona Informationen für das Bundesland \" + msg.slots.state + \": es gab insgesamt \" + msg.payload.features[i].attributes.Fallzahl + \" Fälle von Korona, davon sind \" + msg.payload.features[i].attributes.cases7_bl + \" in den letzten 7 Tagen aufgetreten. Gestorben sind insgesamt \" + msg.payload.features[i].attributes.Death + \" Menschen, davon \" + msg.payload.features[i].attributes.death7_bl + \" in den letzten 7 Tagen. \";\n        return msg;\n    }\n}\nmsg.payload = \"Fehler\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":980,"y":320,"wires":[["ba8a032e.7cbea"]]},{"id":"5deeb31b.4a0e0c","type":"function","z":"7d70f1a6.26893","name":"build tts","func":"for(i = 0; i < msg.payload.features.length; i++) {\n    if(msg.slots.district.toLowerCase() === msg.payload.features[i].attributes.GEN.toLowerCase()) \n    {\n        msg.payload = \"Hier sind die Korona Informationen für den Landkreis \" + msg.slots.district + \": es gab insgesamt \" + msg.payload.features[i].attributes.cases + \" Fälle von Korona, davon sind \" + msg.payload.features[i].attributes.cases7_lk + \" in den letzten 7 Tagen aufgetreten. Gestorben sind insgesamt \" + msg.payload.features[i].attributes.deaths + \" Menschen, davon \" + msg.payload.features[i].attributes.death7_lk + \" in den letzten 7 Tagen. Die 7 Tage Inzidenz liegt bei \" + msg.payload.features[i].attributes.cases7_per_100k_txt;\n        return msg;\n        \n    }\n}\nmsg.payload = \"Fehler\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":980,"y":360,"wires":[["ba8a032e.7cbea"]]},{"id":"ba8a032e.7cbea","type":"http request","z":"7d70f1a6.26893","name":"TTS","method":"POST","ret":"txt","paytoqs":"ignore","url":"http://pi4-2:12101/api/text-to-speech","tls":"","persist":false,"proxy":"","authType":"","x":1170,"y":340,"wires":[[]]},{"id":"2053bbe5.227cd4","type":"http request","z":"7d70f1a6.26893","name":"request info from api","method":"GET","ret":"obj","paytoqs":"ignore","url":"https://services7.arcgis.com/mOBPykOjAyBO2ZKk/arcgis/rest/services/RKI_Landkreisdaten/FeatureServer/0/query?outFields=*&where=%20(BEZ%20%3D%20'Landkreis'%20OR%20BEZ%20%3D%20'Kreis'%20OR%20BEZ%20%3D%20'Kreisfreie%20Stadt'%20OR%20BEZ%20%3D%20'Bezirk')%20&f=json","tls":"","persist":false,"proxy":"","authType":"","x":680,"y":360,"wires":[["5deeb31b.4a0e0c"]]},{"id":"d9f2d9cc.56a6c8","type":"function","z":"36300df3.a60da2","name":"Extract Information from API","func":"msg = {payload: msg.payload.extract}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":960,"y":240,"wires":[["e2729c04.c736f"]]},{"id":"bb7c10a9.c1ea7","type":"websocket in","z":"36300df3.a60da2","name":"rhasspy in","server":"5999adec.e962a4","client":"","x":120,"y":240,"wires":[["3b3406b4.3ac96a"]]},{"id":"3b3406b4.3ac96a","type":"switch","z":"36300df3.a60da2","name":"check intent","property":"intent.name","propertyType":"msg","rules":[{"t":"eq","v":"WikipediaInfo","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":290,"y":240,"wires":[["92189a01.ac4588"]]},{"id":"114bd722.f5b649","type":"http request","z":"36300df3.a60da2","name":"Wikipedia API","method":"GET","ret":"obj","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","x":720,"y":240,"wires":[["d9f2d9cc.56a6c8"]]},{"id":"92189a01.ac4588","type":"function","z":"36300df3.a60da2","name":"Wikipedia URL Create","func":"word = msg.slots.topic\nwords = word.split(\" \");\nmsg = {payload: words.length}\nfor(i = 0; i < words.length; i++) {\n    words[i] = words[i][0].toUpperCase() + words[i].substr(1);\n}\nmsg = {url: \"https://de.wikipedia.org/api/rest_v1/page/summary/\" + words.join(\" \")}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":500,"y":240,"wires":[["114bd722.f5b649"]]},{"id":"e2729c04.c736f","type":"http request","z":"36300df3.a60da2","name":"TTS","method":"POST","ret":"txt","paytoqs":"ignore","url":"http://pi4-2:12101/api/text-to-speech","tls":"","persist":false,"proxy":"","authType":"","x":1190,"y":240,"wires":[[]]},{"id":"7ebe7fd5.f8a88","type":"websocket in","z":"3223fd7f.c1e582","name":"rhasspy in","server":"5999adec.e962a4","client":"","x":240,"y":300,"wires":[["ae8fc920.5b71a8"]]},{"id":"ae8fc920.5b71a8","type":"switch","z":"3223fd7f.c1e582","name":"check intent","property":"intent.name","propertyType":"msg","rules":[{"t":"eq","v":"GuMo","vt":"str"}],"checkall":"false","repair":false,"outputs":1,"x":450,"y":300,"wires":[["7834e550.92423c","a4504f8f.07ab4"]]},{"id":"7834e550.92423c","type":"function","z":"3223fd7f.c1e582","name":"enable light with 25%","func":"var val = 255 / 100 * 25;\nmsg.payload = { \n    \"state\":\"ON\",\n    \"brightness\": val\n};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":660,"y":300,"wires":[["f8fa6c5c.895c6"]]},{"id":"f8fa6c5c.895c6","type":"mqtt out","z":"3223fd7f.c1e582","name":"","topic":"zigbee2mqtt/Lampe/set","qos":"","retain":"","broker":"e4b2ae7a.7f898","x":930,"y":300,"wires":[]},{"id":"a4504f8f.07ab4","type":"change","z":"3223fd7f.c1e582","name":"set default city gummersbach","rules":[{"t":"set","p":"location.city","pt":"msg","to":"Gummersbach","tot":"str"},{"t":"set","p":"location.country","pt":"msg","to":"germany","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":680,"y":360,"wires":[["d0805503.b7db08"]]},{"id":"d0805503.b7db08","type":"openweathermap","z":"3223fd7f.c1e582","name":"","wtype":"forecast","lon":"","lat":"","city":"","country":"","language":"de","x":910,"y":360,"wires":[["530f8e50.6c4da"]]},{"id":"530f8e50.6c4da","type":"function","z":"3223fd7f.c1e582","name":"","func":"msg = {payload: \"Guten Morgen. Hier ist das Wetter für \" + msg.location.city + \": \" +  msg.payload[0].weather[0].description + \", bei \" + Math.round(msg.payload[0].main.temp) + \" Grad. Die Luftfeuchtigkeit beträgt: \" + msg.payload[0].main.humidity + \" %.\"};\nreturn msg;\n\n\n\n\n/*\nmsg = {payload: \"Hier ist das Wetter für \" + msg.payload.location + \": \" +  msg.payload.detail + \", bei \" + Math.round(msg.payload.tempc) + \" Grad. Die Luftfeuchtigkeit beträgt: \" + msg.payload.humidity + \" %.\"};\nreturn msg;\n*/","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1080,"y":360,"wires":[["5a688fb4.73c1c"]]},{"id":"5a688fb4.73c1c","type":"http request","z":"3223fd7f.c1e582","name":"TTS","method":"POST","ret":"txt","paytoqs":"ignore","url":"http://pi4-2:12101/api/text-to-speech","tls":"","persist":false,"proxy":"","authType":"","x":1210,"y":360,"wires":[["aafdb947.8a7a78"]]},{"id":"aafdb947.8a7a78","type":"function","z":"3223fd7f.c1e582","name":"load","func":"return msg = {payload : \"load radiostations\"};","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1470,"y":360,"wires":[["c2b68bc3.b72738","2bacf5b7.47c94a"]]},{"id":"2bacf5b7.47c94a","type":"function","z":"3223fd7f.c1e582","name":"repeat","func":"return msg = {payload : \"repeat 1\"};","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1610,"y":360,"wires":[["8a68114.e673ff","c2b68bc3.b72738"]]},{"id":"8a68114.e673ff","type":"function","z":"3223fd7f.c1e582","name":"on","func":"return msg = {payload : \"play\"};","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1770,"y":360,"wires":[["c2b68bc3.b72738"]]},{"id":"c2b68bc3.b72738","type":"mpd out","z":"3223fd7f.c1e582","name":"","topic":"","server":"c72ecf2e.f1f44","x":1940,"y":360,"wires":[[]]}]