config/auto_install_docker/config/node-red/data/flows_4532881a94df.json
[{"id":"48004b8d.6f1d24","type":"tab","label":"Time","disabled":false,"info":""},{"id":"86964d6.3cc53b","type":"tab","label":"Lightcontrol","disabled":false,"info":""},{"id":"56873a2d.9358bc","type":"tab","label":"Weather","disabled":false,"info":""},{"id":"773eec76.a182c4","type":"tab","label":"Corona","disabled":false,"info":""},{"id":"298a30ce.25a2b","type":"tab","label":"Wikipedia","disabled":false,"info":""},{"id":"a65a3a94.635d98","type":"tab","label":"Radio","disabled":false,"info":""},{"id":"d138947f.fd823","type":"tab","label":"Alarm and Timer","disabled":false,"info":""},{"id":"6f202e71.5b2ff","type":"tab","label":"Good Morning Routine","disabled":false,"info":""},{"id":"a200ce27.0e84e8","type":"websocket-client","path":"192.168.0.177:12101/api/text-to-speech","tls":"","wholemsg":"false"},{"id":"5999adec.e962a4","type":"websocket-listener","path":"ws://192.168.0.177:12101/api/events/intent","wholemsg":"true"},{"id":"14b868fb.a55b7f","type":"mqtt-broker","name":"Intern MQTT","broker":"192.168.0.177","port":"12183","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"9a410553.e09e3","type":"mpd-server","host":"127.0.0.1","port":"6600"},{"id":"7ffb752e.52a1bc","type":"sqlitedb","db":"/data/sqllite/timer.db","mode":"RWC"},{"id":"608ed535.15eb7c","type":"function","z":"48004b8d.6f1d24","name":"generate time string","func":"var today = new Date();\nvar time = today.getHours() + \" Uhr \" + today.getMinutes();\nmsg = { payload: \"Es ist \" + time };\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":580,"y":240,"wires":[["cc5de36a.afec6"]]},{"id":"cc5de36a.afec6","type":"http request","z":"48004b8d.6f1d24","name":"TTS","method":"POST","ret":"txt","paytoqs":"ignore","url":"http://192.168.0.177:12101/api/text-to-speech","tls":"","persist":false,"proxy":"","authType":"","x":790,"y":240,"wires":[[]]},{"id":"a6bc54e.66deca8","type":"switch","z":"48004b8d.6f1d24","name":"check intent","property":"intent.name","propertyType":"msg","rules":[{"t":"eq","v":"GetTime","vt":"str"}],"checkall":"false","repair":false,"outputs":1,"x":370,"y":240,"wires":[["608ed535.15eb7c"]]},{"id":"38886150.c2667e","type":"websocket in","z":"48004b8d.6f1d24","name":"rhasspy in","server":"5999adec.e962a4","client":"","x":200,"y":240,"wires":[["a6bc54e.66deca8"]]},{"id":"6b955ac.e921624","type":"websocket in","z":"86964d6.3cc53b","name":"rhasspy in","server":"5999adec.e962a4","client":"","x":180,"y":300,"wires":[["88648a4f.4c0ad8"]]},{"id":"a41d16ba.61ed68","type":"template","z":"86964d6.3cc53b","name":"turn off","field":"payload","fieldType":"msg","format":"json","syntax":"plain","template":"{\n    \"state\":\"OFF\"\n}","output":"json","x":710,"y":400,"wires":[["7ebe2e46.54f6a8"]]},{"id":"728c4843.cc97d8","type":"template","z":"86964d6.3cc53b","name":"turn on","field":"payload","fieldType":"msg","format":"json","syntax":"plain","template":"{\n    \"state\":\"ON\"\n}","output":"json","x":720,"y":360,"wires":[["7ebe2e46.54f6a8"]]},{"id":"6bc90460.b848dc","type":"switch","z":"86964d6.3cc53b","name":"check temp","property":"slots.temp","propertyType":"msg","rules":[{"t":"eq","v":"warm","vt":"str"},{"t":"eq","v":"kalt","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":530,"y":300,"wires":[["d963cc19.d2dd18"],["9dcfd09d.b9c0c"]]},{"id":"d963cc19.d2dd18","type":"template","z":"86964d6.3cc53b","name":"set warm","field":"payload","fieldType":"msg","format":"json","syntax":"plain","template":"{\n    \"state\":\"ON\",\n    \"color_temp\":500\n}","output":"json","x":720,"y":280,"wires":[["7ebe2e46.54f6a8"]]},{"id":"9dcfd09d.b9c0c","type":"template","z":"86964d6.3cc53b","name":"set cold","field":"payload","fieldType":"msg","format":"json","syntax":"plain","template":"{\n    \"state\":\"ON\",\n    \"color_temp\":150\n}","output":"json","x":720,"y":320,"wires":[["7ebe2e46.54f6a8"]]},{"id":"d4774b2e.745628","type":"mqtt out","z":"86964d6.3cc53b","name":"lamp","topic":"zigbee2mqtt/0x00158d000520ac5e/set","qos":"","retain":"","broker":"14b868fb.a55b7f","x":1250,"y":280,"wires":[]},{"id":"88648a4f.4c0ad8","type":"switch","z":"86964d6.3cc53b","name":"check intent","property":"intent.name","propertyType":"msg","rules":[{"t":"eq","v":"ChangeBrightness","vt":"str"},{"t":"eq","v":"ChangeTemp","vt":"str"},{"t":"eq","v":"ChangeLightState","vt":"str"}],"checkall":"false","repair":false,"outputs":3,"x":350,"y":300,"wires":[["dafb6ccd.ae6f5"],["6bc90460.b848dc"],["4c371a21.6afe04"]]},{"id":"4c371a21.6afe04","type":"switch","z":"86964d6.3cc53b","name":"check on or off","property":"slots.state","propertyType":"msg","rules":[{"t":"eq","v":"ein","vt":"str"},{"t":"eq","v":"an","vt":"str"},{"t":"eq","v":"aus","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":520,"y":380,"wires":[["728c4843.cc97d8"],["728c4843.cc97d8"],["a41d16ba.61ed68"]]},{"id":"dafb6ccd.ae6f5","type":"function","z":"86964d6.3cc53b","name":"set brightness","func":"var val = 255 / 100 * msg.slots.percent;\nmsg.payload = { \n    \"state\":\"ON\",\n    \"brightness\": val\n};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":720,"y":220,"wires":[["7ebe2e46.54f6a8"]]},{"id":"7ebe2e46.54f6a8","type":"switch","z":"86964d6.3cc53b","name":"check room if there is one","property":"slots.room","propertyType":"msg","rules":[{"t":"eq","v":"wohnzimmer","vt":"str"},{"t":"eq","v":"schlafzimmer","vt":"str"},{"t":"null"}],"checkall":"true","repair":false,"outputs":3,"x":1010,"y":320,"wires":[["d4774b2e.745628"],[],["d4774b2e.745628"]]},{"id":"471b9b91.a2b854","type":"http request","z":"56873a2d.9358bc","name":"TTS","method":"POST","ret":"txt","paytoqs":"ignore","url":"http://192.168.0.177:12101/api/text-to-speech","tls":"","persist":false,"proxy":"","authType":"","x":1070,"y":280,"wires":[[]]},{"id":"da2d3ec0.f1977","type":"change","z":"56873a2d.9358bc","name":"set city and country","rules":[{"t":"move","p":"slots.city","pt":"msg","to":"location.city","tot":"msg"},{"t":"set","p":"location.country","pt":"msg","to":"germany","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":330,"y":280,"wires":[["13cb1785.8df5c8"]]},{"id":"e6afaaa1.ef1d38","type":"function","z":"56873a2d.9358bc","name":"","func":"msg = {payload: \"Hier ist das Wetter für \" + msg.location.city + \": \" +  msg.payload[0].weather[0].description + \", bei \" + Math.round(msg.payload[0].main.temp) + \" Grad. Die Luftfeuchtigkeit beträgt: \" + msg.payload[0].main.humidity + \" %.\"};\nreturn msg;\n\n\n\n\n/*\nmsg = {payload: \"Hier ist das Wetter für \" + msg.payload.location + \": \" +  msg.payload.detail + \", bei \" + Math.round(msg.payload.tempc) + \" Grad. Die Luftfeuchtigkeit beträgt: \" + msg.payload.humidity + \" %.\"};\nreturn msg;\n*/","outputs":1,"noerr":0,"initialize":"","finalize":"","x":900,"y":220,"wires":[["471b9b91.a2b854"]]},{"id":"7bdae2cc.0d140c","type":"function","z":"56873a2d.9358bc","name":"","func":"var time = msg.payload.sunrise;\nvar date = new Date(time * 1000);\nvar hours = date.getHours();\nvar minutes = date.getMinutes();\nmsg = {payload: \"Die Sonne in \" + msg.payload.location + \" geht um \" + hours + \" Uhr\" + minutes + \" auf.\"};\nreturn msg;\n\n\n ","outputs":1,"noerr":0,"initialize":"","finalize":"","x":900,"y":260,"wires":[["471b9b91.a2b854"]]},{"id":"e8365b5d.1ec958","type":"function","z":"56873a2d.9358bc","name":"","func":"var time = msg.payload.sunset;\nvar date = new Date(time * 1000);\nvar hours = date.getHours();\nvar minutes = date.getMinutes();\nmsg = {payload: \"Die Sonne in \" + msg.payload.location + \" geht um \" + hours + \" Uhr\" + minutes + \" unter.\"};\nreturn msg;\n\n\n ","outputs":1,"noerr":0,"initialize":"","finalize":"","x":900,"y":300,"wires":[["471b9b91.a2b854"]]},{"id":"792aa1a1.6b9108","type":"function","z":"56873a2d.9358bc","name":"","func":"\nvar days = [\"Sonntag\", \"Montag\", \"Dienstag\", \"Mittwoch\", \"Donnerstag\", \"Freitag\", \"Samstag\"];\nvar today = new Date();\nvar returnMsg = \"Hier ist das Wetter für die kommenden Tage in \" + msg.entities[0].value + \". \";\nvar i = 0;\nfor (x of msg.payload.daily) {\n   y = new Date(x.dt * 1000); \n   if (y.getDay() != today.getDay()) {\n       returnMsg = returnMsg + days[y.getDay()] + \" \" + x.weather[0].description + \", bei \" + Math.round(x.temp.day) + \"Grad. \";\n   }\n}\n\nmsg = {payload: returnMsg};\n//msg = {payload: \"Test: \" + today.getFullYear()+'-'+(today.getMonth()+1)+'-'+today.getDate()+ \" \" + today.getHours() + \":\" + today.getMinutes() + \":\" + today.getSeconds()};\nreturn msg;\n\n/*\nmsg = {payload: \"Hier ist das Wetter für \" + msg.location.city + \": \" +  msg.payload[0].weather[0].description + \", bei \" + Math.round(msg.payload[0].main.temp) + \" Grad. Die Luftfeuchtigkeit beträgt: \" + msg.payload[0].main.humidity + \" %.\"};\nreturn msg;\n\n\n\n\n/*\nmsg = {payload: \"Hier ist das Wetter für \" + msg.payload.location + \": \" +  msg.payload.detail + \", bei \" + Math.round(msg.payload.tempc) + \" Grad. Die Luftfeuchtigkeit beträgt: \" + msg.payload.humidity + \" %.\"};\nreturn msg;\n*/","outputs":1,"noerr":0,"initialize":"","finalize":"","x":900,"y":340,"wires":[["471b9b91.a2b854"]]},{"id":"f3001c54.acfee","type":"function","z":"56873a2d.9358bc","name":"get coordinates for city","func":"msg.url = \"http://open.mapquestapi.com/geocoding/v1/address?key=hYS7bGx4JjHrBGKTz8wfoTkg5aFKN9ai&location=\" + msg.location.city + \",DE\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":200,"y":340,"wires":[["44c83719.b3c04"]]},{"id":"44c83719.b3c04","type":"http request","z":"56873a2d.9358bc","name":"request to api to get coordinates","method":"GET","ret":"obj","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","x":450,"y":340,"wires":[["a11e44bb.ebe798"]]},{"id":"a11e44bb.ebe798","type":"change","z":"56873a2d.9358bc","name":"set coordinates","rules":[{"t":"move","p":"payload.results[0].locations[0].latLng.lat","pt":"msg","to":"location.lat","tot":"msg"},{"t":"move","p":"payload.results[0].locations[0].latLng.lng","pt":"msg","to":"location.lon","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":580,"y":400,"wires":[["1255db08.dd5ecd"]]},{"id":"13cb1785.8df5c8","type":"switch","z":"56873a2d.9358bc","name":"check intent","property":"intent.name","propertyType":"msg","rules":[{"t":"eq","v":"GetWeatherInfo","vt":"str"},{"t":"eq","v":"GetSunriseInfo","vt":"str"},{"t":"eq","v":"GetSunsetInfo","vt":"str"},{"t":"eq","v":"GetWeeklyWeatherInfo","vt":"str"}],"checkall":"false","repair":false,"outputs":4,"x":530,"y":280,"wires":[["d15788cf.54c868"],["1a11cd5d.fdb1c3"],["9dfda428.a27bd8"],["f3001c54.acfee"]]},{"id":"1713a7b4.6d327","type":"websocket in","z":"56873a2d.9358bc","name":"rhasspy in","server":"5999adec.e962a4","client":"","x":80,"y":280,"wires":[["432f009f.72f6c"]]},{"id":"432f009f.72f6c","type":"switch","z":"56873a2d.9358bc","name":"check if city is set","property":"slots.city","propertyType":"msg","rules":[{"t":"nnull"}],"checkall":"true","repair":false,"outputs":1,"x":330,"y":240,"wires":[["da2d3ec0.f1977"]]},{"id":"1b7fbbb7.d3237c","type":"websocket in","z":"773eec76.a182c4","name":"rhasspy","server":"5999adec.e962a4","client":"","x":310,"y":340,"wires":[["5a4ec99f.3ceb9"]]},{"id":"5a4ec99f.3ceb9","type":"switch","z":"773eec76.a182c4","name":"check intent","property":"intent.name","propertyType":"msg","rules":[{"t":"eq","v":"CoronaStateInfo","vt":"str"},{"t":"eq","v":"CoronaDistrictInfo","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":450,"y":340,"wires":[["17611e61.3612a2"],["89d69c90.b6a878"]]},{"id":"17611e61.3612a2","type":"http request","z":"773eec76.a182c4","name":"request info from api","method":"GET","ret":"obj","paytoqs":"ignore","url":"https://services7.arcgis.com/mOBPykOjAyBO2ZKk/arcgis/rest/services/Coronaf%C3%A4lle_in_den_Bundesl%C3%A4ndern/FeatureServer/0/query?where=1%3D1&outFields=LAN_ew_GEN,Fallzahl,Death,cases7_bl,death7_bl&outSR=4326&f=json","tls":"","persist":false,"proxy":"","authType":"","x":660,"y":320,"wires":[["f06197fc.8bd28"]]},{"id":"f06197fc.8bd28","type":"function","z":"773eec76.a182c4","name":"build tts","func":"var count=0;\nfor(i = 0; i < msg.payload.features.length; i++) {\n    if(msg.slots.state.toLowerCase() === msg.payload.features[i].attributes.LAN_ew_GEN.toLowerCase()) \n    {\n        msg.payload = \"Hier sind die Korona Informationen für das Bundesland \" + msg.slots.state + \": es gab insgesamt \" + msg.payload.features[i].attributes.Fallzahl + \" Fälle von Korona, davon sind \" + msg.payload.features[i].attributes.cases7_bl + \" in den letzten 7 Tagen aufgetreten. Gestorben sind insgesamt \" + msg.payload.features[i].attributes.Death + \" Menschen, davon \" + msg.payload.features[i].attributes.death7_bl + \" in den letzten 7 Tagen. \";\n        return msg;\n    }\n}\nmsg.payload = \"Fehler\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":840,"y":320,"wires":[["d60d8536.186d98"]]},{"id":"c7251ce9.cdb608","type":"function","z":"773eec76.a182c4","name":"build tts","func":"for(i = 0; i < msg.payload.features.length; i++) {\n    if(msg.slots.district.toLowerCase() === msg.payload.features[i].attributes.GEN.toLowerCase()) \n    {\n        msg.payload = \"Hier sind die Korona Informationen für den Landkreis \" + msg.slots.district + \": es gab insgesamt \" + msg.payload.features[i].attributes.cases + \" Fälle von Korona, davon sind \" + msg.payload.features[i].attributes.cases7_lk + \" in den letzten 7 Tagen aufgetreten. Gestorben sind insgesamt \" + msg.payload.features[i].attributes.deaths + \" Menschen, davon \" + msg.payload.features[i].attributes.death7_lk + \" in den letzten 7 Tagen. Die 7 Tage Inzidenz liegt bei \" + msg.payload.features[i].attributes.cases7_per_100k_txt;\n        return msg;\n        \n    }\n}\nmsg.payload = \"Fehler\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":840,"y":360,"wires":[["d60d8536.186d98"]]},{"id":"d60d8536.186d98","type":"http request","z":"773eec76.a182c4","name":"TTS","method":"POST","ret":"txt","paytoqs":"ignore","url":"http://192.168.0.177:12101/api/text-to-speech","tls":"","persist":false,"proxy":"","authType":"","x":990,"y":340,"wires":[[]]},{"id":"89d69c90.b6a878","type":"http request","z":"773eec76.a182c4","name":"request info from api","method":"GET","ret":"obj","paytoqs":"ignore","url":"https://services7.arcgis.com/mOBPykOjAyBO2ZKk/arcgis/rest/services/RKI_Landkreisdaten/FeatureServer/0/query?outFields=*&where=%20(BEZ%20%3D%20'Landkreis'%20OR%20BEZ%20%3D%20'Kreis'%20OR%20BEZ%20%3D%20'Kreisfreie%20Stadt'%20OR%20BEZ%20%3D%20'Bezirk')%20&f=json","tls":"","persist":false,"proxy":"","authType":"","x":660,"y":360,"wires":[["c7251ce9.cdb608"]]},{"id":"b076246d.c3aef8","type":"function","z":"298a30ce.25a2b","name":"Extract Information from API","func":"msg = {payload: msg.payload.extract}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":720,"y":320,"wires":[["dfe030a0.66b6d8"]]},{"id":"a0f47a0b.5ece78","type":"websocket in","z":"298a30ce.25a2b","name":"rhasspy in","server":"5999adec.e962a4","client":"","x":120,"y":240,"wires":[["f7a96d64.4dedf8"]]},{"id":"f7a96d64.4dedf8","type":"switch","z":"298a30ce.25a2b","name":"check intent","property":"intent.name","propertyType":"msg","rules":[{"t":"eq","v":"WikipediaInfo","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":270,"y":240,"wires":[["34100001.76b8f8"]]},{"id":"5f77b41a.20036c","type":"http request","z":"298a30ce.25a2b","name":"Wikipedia API","method":"GET","ret":"obj","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","x":480,"y":320,"wires":[["b076246d.c3aef8"]]},{"id":"34100001.76b8f8","type":"function","z":"298a30ce.25a2b","name":"Wikipedia URL Create","func":"word = msg.slots.topic\nwords = word.split(\" \");\nmsg = {payload: words.length}\nfor(i = 0; i < words.length; i++) {\n    words[i] = words[i][0].toUpperCase() + words[i].substr(1);\n}\nmsg = {url: \"https://de.wikipedia.org/api/rest_v1/page/summary/\" + words.join(\" \")}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":460,"y":240,"wires":[["5f77b41a.20036c"]]},{"id":"dfe030a0.66b6d8","type":"http request","z":"298a30ce.25a2b","name":"TTS","method":"POST","ret":"txt","paytoqs":"ignore","url":"http://192.168.0.177:12101/api/text-to-speech","tls":"","persist":false,"proxy":"","authType":"","x":810,"y":240,"wires":[[]]},{"id":"37099153.cea5fe","type":"switch","z":"a65a3a94.635d98","name":"check intent","property":"intent.name","propertyType":"msg","rules":[{"t":"eq","v":"StartRadio","vt":"str"},{"t":"eq","v":"StopRadio","vt":"str"},{"t":"eq","v":"NextRadio","vt":"str"},{"t":"eq","v":"PrevRadio","vt":"str"}],"checkall":"false","repair":false,"outputs":4,"x":390,"y":480,"wires":[["662066d6.989f48"],["50c4049.493b47c"],["d5e23fa3.ebb8c"],["e0a6ed62.e089a"]]},{"id":"b4e35915.2663c8","type":"function","z":"a65a3a94.635d98","name":"on","func":"return msg = {payload : \"play\"};","outputs":1,"noerr":0,"initialize":"","finalize":"","x":890,"y":380,"wires":[["44c01fb6.28dc9"]]},{"id":"50c4049.493b47c","type":"function","z":"a65a3a94.635d98","name":"off","func":"return msg = {payload : \"stop\"};","outputs":1,"noerr":0,"initialize":"","finalize":"","x":570,"y":460,"wires":[["44c01fb6.28dc9","6a0f4fa7.6115a8"]]},{"id":"d5e23fa3.ebb8c","type":"function","z":"a65a3a94.635d98","name":"next","func":"return msg = {payload : \"next\"};","outputs":1,"noerr":0,"initialize":"","finalize":"","x":570,"y":500,"wires":[["44c01fb6.28dc9"]]},{"id":"6a0f4fa7.6115a8","type":"function","z":"a65a3a94.635d98","name":"clear","func":"return msg = {payload : \"clear\"};","outputs":1,"noerr":0,"initialize":"","finalize":"","x":730,"y":440,"wires":[["44c01fb6.28dc9"]]},{"id":"662066d6.989f48","type":"function","z":"a65a3a94.635d98","name":"load","func":"return msg = {payload : \"load radiostations\"};","outputs":1,"noerr":0,"initialize":"","finalize":"","x":570,"y":420,"wires":[["44c01fb6.28dc9","e58a2ff3.691f78"]]},{"id":"e58a2ff3.691f78","type":"function","z":"a65a3a94.635d98","name":"repeat","func":"return msg = {payload : \"repeat 1\"};","outputs":1,"noerr":0,"initialize":"","finalize":"","x":730,"y":400,"wires":[["b4e35915.2663c8","44c01fb6.28dc9"]]},{"id":"e0a6ed62.e089a","type":"function","z":"a65a3a94.635d98","name":"prev","func":"return msg = {payload : \"previous\"};","outputs":1,"noerr":0,"initialize":"","finalize":"","x":570,"y":540,"wires":[["44c01fb6.28dc9"]]},{"id":"d73f5b04.9b3e6","type":"websocket in","z":"a65a3a94.635d98","name":"rhasspy in","server":"5999adec.e962a4","client":"","x":160,"y":480,"wires":[["37099153.cea5fe"]]},{"id":"2f4b42af.6fdbb6","type":"function","z":"d138947f.fd823","name":"check timer and delete","func":"currentDate = new Date();\ncurrentDate.setMilliseconds(0);\n\nfor(var i = 0; i < msg.payload.length; i += 1) {\n    \n    timerDate = new Date(msg.payload[i].year, (msg.payload[i].month - 1), msg.payload[i].day, (msg.payload[i].hour), msg.payload[i].minute, msg.payload[i].second);\n    timerDate.setMilliseconds(0);\n    \n    if(timerDate.getTime() == currentDate.getTime())\n    return msg = {  topic: \"DELETE FROM timer WHERE timer_id = \" + msg.payload[i].timer_id + \";\",\n                    alarm: msg.payload[i].alarm};\n    \n    else if(timerDate < currentDate)\n    return msg = {  topic: \"DELETE FROM timer WHERE timer_id = \" + msg.payload[i].timer_id + \";\",\n                    notification: \"Vorhandener Timer ist während des Neustarts abgelaufen.\"};\n}","outputs":1,"noerr":0,"initialize":"var currentDate;\nvar timerDate;","finalize":"","x":740,"y":260,"wires":[["d6ea68c9.b13b5","f4325816.6e8fd"]]},{"id":"1d1c5588.1d73c2","type":"inject","z":"d138947f.fd823","name":"checking for timers","props":[{"p":"topic","vt":"str"}],"repeat":"1","crontab":"","once":false,"onceDelay":0.1,"topic":"SELECT timer_id, strftime('%H',time) as hour, strftime('%M',time) as minute, strftime('%S',time) as second, strftime('%d',time) as day, strftime('%m',time) as month, strftime('%Y',time) as year, alarm FROM timer;","x":460,"y":360,"wires":[["d6ea68c9.b13b5"]]},{"id":"83cc3c71.6a41d8","type":"switch","z":"d138947f.fd823","name":"check for notification","property":"notification","propertyType":"msg","rules":[{"t":"nnull"}],"checkall":"true","repair":false,"outputs":1,"x":1220,"y":360,"wires":[["d7fab366.05313"]]},{"id":"3f8c9b9e.d42ea4","type":"switch","z":"d138947f.fd823","name":"check intent","property":"intent.name","propertyType":"msg","rules":[{"t":"eq","v":"setAlarm","vt":"str"},{"t":"eq","v":"setTimer","vt":"str"},{"t":"eq","v":"getRemainingTime","vt":"str"},{"t":"eq","v":"deleteAlarm","vt":"str"},{"t":"eq","v":"stopAlarm","vt":"str"}],"checkall":"true","repair":false,"outputs":5,"x":250,"y":540,"wires":[["47f0f61a.e02eb8"],["5e3c7fd.a570e8"],["f0960b48.50cdd"],["31a2c467.0e3444"],["2865faf1.28970e"]]},{"id":"5e3c7fd.a570e8","type":"function","z":"d138947f.fd823","name":"build insert statement","func":"date = new Date();\n\n\nif( !msg.slots.timer_hour )\n    msg.slots.timer_hour = 0;\n    \nif( !msg.slots.timer_minute )\n    msg.slots.timer_minute = 0;\n    \nif( !msg.slots.timer_second )\n    msg.slots.timer_second = 0;\n\ndate.setHours((date.getHours()) + msg.slots.timer_hour);\ndate.setMinutes(date.getMinutes() + msg.slots.timer_minute);\ndate.setSeconds(date.getSeconds() + msg.slots.timer_second);\n\nif(msg.slots.timer_hour == 1) hourStr = \" Stunde, \";\nelse hourStr = \" Stunden, \";\n\nif(msg.slots.timer_minute == 1) minuteStr = \" Minute und \";\nelse minuteStr = \" Minuten und \";\n\nif(msg.slots.timer_second == 1) secondStr = \" Sekunde.\";\nelse secondStr = \" Sekunden.\";\n\nreturn msg = {  topic: \"INSERT INTO timer (time, alarm) VALUES (datetime('\" + date.getFullYear() + \"-\" + ('0' + (date.getMonth() + 1)).slice(-2) + \"-\" + ('0' + date.getDate()).slice(-2) + \" \"+ ('0' + date.getHours()).slice(-2) + \":\" + ('0' + date.getMinutes()).slice(-2) + \":\" + ('0' + date.getSeconds()).slice(-2) + \"'), 0);\",\n                notification: \"Teimer gestellt für \" + msg.slots.timer_hour + hourStr + msg.slots.timer_minute + minuteStr + msg.slots.timer_second + secondStr};","outputs":1,"noerr":0,"initialize":"var date;\n\nvar hourStr;\nvar minuteStr;\nvar secondStr;","finalize":"","x":460,"y":460,"wires":[["ccf13712.ad0298"]]},{"id":"f4325816.6e8fd","type":"switch","z":"d138947f.fd823","name":"check if alarm or timer","property":"alarm","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"num"},{"t":"eq","v":"0","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":1000,"y":260,"wires":[["d9f6eede.07ca"],["e2302041.5c8c6"]]},{"id":"f0960b48.50cdd","type":"function","z":"d138947f.fd823","name":"build select statement","func":"return msg = {topic: \"SELECT timer_id, strftime('%H',min(time)) as hour, strftime('%M',min(time)) as minute, strftime('%S',min(time)) as second, strftime('%d',min(time)) as day, strftime('%m',min(time)) as month, strftime('%Y',min(time)) as year FROM timer WHERE alarm = 0;\"};","outputs":1,"noerr":0,"initialize":"","finalize":"","x":460,"y":500,"wires":[["10629c5c.0f3314"]]},{"id":"791877e5.612e2","type":"function","z":"d138947f.fd823","name":"check remaining time","func":"if(msg.payload[0].timer_id == null) return msg = {notification: \"Keine aktiven Timer vorhanden.\"};\n\ncurrentDate = new Date();\ncurrentDate.setMilliseconds(0);\n\ntimerDate = new Date(msg.payload[0].year, (msg.payload[0].month - 1), msg.payload[0].day, (msg.payload[0].hour - 1), msg.payload[0].minute, msg.payload[0].second);\ntimerDate.setMilliseconds(0);\n\ndiffDate = new Date(timerDate - currentDate);\n\nif(msg.payload[0].hour == 1) hourStr = \" Stunde, \";\nelse hourStr = \" Stunden, \";\n\nif(msg.payload[0].minute == 1) minuteStr = \" Minute und \";\nelse minuteStr = \" Minuten und \";\n\nif(msg.payload[0].second == 1) secondStr = \" Sekunde.\";\nelse secondStr = \" Sekunden.\";\n\nreturn msg = {notification: \"Nächster Timer in \" + diffDate.getHours() + hourStr + diffDate.getMinutes() + minuteStr + diffDate.getSeconds() + secondStr};","outputs":1,"noerr":0,"initialize":"var currentDate;\nvar timerDate;\nvar diffDate;","finalize":"","x":920,"y":500,"wires":[["83cc3c71.6a41d8"]]},{"id":"47f0f61a.e02eb8","type":"function","z":"d138947f.fd823","name":"build select statement","func":"currentDate = new Date();\nalarmDate = new Date();\n\ncurrentDate.setHours(currentDate.getHours());\n\nif( !msg.slots.alarm_hour )\n    msg.slots.alarm_hour = 0;\n    \nif( !msg.slots.alarm_minute )\n    msg.slots.alarm_minute = 0;\n\nalarmDate.setHours(msg.slots.alarm_hour);\nalarmDate.setMinutes(msg.slots.alarm_minute);\n\nif(alarmDate > currentDate) {\n    return msg = {  topic: \"SELECT timer_id, strftime('%H',time) as hour, strftime('%M',time) as minute, strftime('%S',time) as second, strftime('%d',time) as day, strftime('%m',time) as month, strftime('%Y',time) as year, alarm FROM timer WHERE time = datetime('\" + alarmDate.getFullYear() + \"-\" + ('0' + (alarmDate.getMonth() + 1)).slice(-2) + \"-\" + ('0' + alarmDate.getDate()).slice(-2) + \" \"+ ('0' + alarmDate.getHours()).slice(-2) + \":\" + ('0' + alarmDate.getMinutes()).slice(-2) + \"');\",\n                    date: alarmDate};\n} else {\n    alarmDate.setDate(alarmDate.getDate() + 1);\n    return msg = {  topic: \"SELECT timer_id, strftime('%H',time) as hour, strftime('%M',time) as minute, strftime('%S',time) as second, strftime('%d',time) as day, strftime('%m',time) as month, strftime('%Y',time) as year, alarm FROM timer WHERE time = datetime('\" + alarmDate.getFullYear() + \"-\" + ('0' + (alarmDate.getMonth() + 1)).slice(-2) + \"-\" + ('0' + alarmDate.getDate()).slice(-2) + \" \"+ ('0' + alarmDate.getHours()).slice(-2) + \":\" + ('0' + alarmDate.getMinutes()).slice(-2) + \"');\",\n                    date: alarmDate};\n}","outputs":1,"noerr":0,"initialize":"var currentDate;\nvar alarmDate;","finalize":"","x":460,"y":420,"wires":[["3c3e035d.7b8494"]]},{"id":"de577fa1.a2eb1","type":"function","z":"d138947f.fd823","name":"build insert statement","func":"currentDate = new Date();\n\nif(msg.payload[0] != null) {\n    return msg = {  notification: \"Wecker für diese Uhrzeit ist bereits vorhanden.\"};\n    \n} else if(msg.date.getDate() == currentDate.getDate()) {\n    return msg = {  topic: \"INSERT INTO timer (time, alarm) VALUES (datetime('\" + msg.date.getFullYear() + \"-\" + ('0' + (msg.date.getMonth() + 1)).slice(-2) + \"-\" + ('0' + msg.date.getDate()).slice(-2) + \" \"+ ('0' + msg.date.getHours()).slice(-2) + \":\" + ('0' + msg.date.getMinutes()).slice(-2) + \"'), 1);\",\n                    notification: \"Wecker gestellt für heute um \" + msg.date.getHours() + \" Uhr \" + msg.date.getMinutes() + \".\"};\n                    \n} else {\n    return msg = {  topic: \"INSERT INTO timer (time, alarm) VALUES (datetime('\" + msg.date.getFullYear() + \"-\" + ('0' + (msg.date.getMonth() + 1)).slice(-2) + \"-\" + ('0' + msg.date.getDate()).slice(-2) + \" \"+ ('0' + msg.date.getHours()).slice(-2) + \":\" + ('0' + msg.date.getMinutes()).slice(-2) + \"'), 1);\",\n                    notification: \"Wecker gestellt für morgen um \" + msg.date.getHours() + \" Uhr \" + msg.date.getMinutes() + \".\"};\n}","outputs":1,"noerr":0,"initialize":"var currentDate;","finalize":"","x":920,"y":440,"wires":[["83cc3c71.6a41d8","ab55003f.511db8"]]},{"id":"31a2c467.0e3444","type":"function","z":"d138947f.fd823","name":"build select statement","func":"currentDate = new Date();\nalarmDate = new Date();\n\ncurrentDate.setHours(currentDate.getHours());\n\nif( !msg.slots.alarm_hour )\n    msg.slots.alarm_hour = 0;\n    \nif( !msg.slots.alarm_minute )\n    msg.slots.alarm_minute = 0;\n\nalarmDate.setHours(msg.slots.alarm_hour);\nalarmDate.setMinutes(msg.slots.alarm_minute);\n\nif(alarmDate > currentDate) {\n    return msg = {  topic: \"SELECT timer_id, strftime('%H',time) as hour, strftime('%M',time) as minute, strftime('%S',time) as second, strftime('%d',time) as day, strftime('%m',time) as month, strftime('%Y',time) as year, alarm FROM timer WHERE time = datetime('\" + alarmDate.getFullYear() + \"-\" + ('0' + (alarmDate.getMonth() + 1)).slice(-2) + \"-\" + ('0' + alarmDate.getDate()).slice(-2) + \" \"+ ('0' + alarmDate.getHours()).slice(-2) + \":\" + ('0' + alarmDate.getMinutes()).slice(-2) + \"');\",\n                    date: alarmDate};\n} else {\n    alarmDate.setDate(alarmDate.getDate() + 1);\n    return msg = {  topic: \"SELECT timer_id, strftime('%H',time) as hour, strftime('%M',time) as minute, strftime('%S',time) as second, strftime('%d',time) as day, strftime('%m',time) as month, strftime('%Y',time) as year, alarm FROM timer WHERE time = datetime('\" + alarmDate.getFullYear() + \"-\" + ('0' + (alarmDate.getMonth() + 1)).slice(-2) + \"-\" + ('0' + alarmDate.getDate()).slice(-2) + \" \"+ ('0' + alarmDate.getHours()).slice(-2) + \":\" + ('0' + alarmDate.getMinutes()).slice(-2) + \"');\",\n                    date: alarmDate};\n}","outputs":1,"noerr":0,"initialize":"var currentDate;\nvar alarmDate;","finalize":"","x":460,"y":540,"wires":[["27319554.0d883a"]]},{"id":"ff9a4dc0.25c67","type":"function","z":"d138947f.fd823","name":"build delete statement","func":"currentDate = new Date();\n\nif(msg.payload[0] == null) {\n    return msg = {  notification: \"Es wurde kein Wecker für diese Uhrzeit gestellt.\"};\n    \n} else {\n    return msg = {  topic: \"DELETE FROM timer WHERE time = datetime('\" + msg.date.getFullYear() + \"-\" + ('0' + (msg.date.getMonth() + 1)).slice(-2) + \"-\" + ('0' + msg.date.getDate()).slice(-2) + \" \"+ ('0' + msg.date.getHours()).slice(-2) + \":\" + ('0' + msg.date.getMinutes()).slice(-2) + \"');\",\n                    notification: \"Wecker gelöscht.\"};\n}","outputs":1,"noerr":0,"initialize":"var currentDate;","finalize":"","x":920,"y":560,"wires":[["83cc3c71.6a41d8","2cfd5c2b.8b212c"]]},{"id":"334edb57.6301d4","type":"websocket in","z":"d138947f.fd823","name":"rhasspy in","server":"5999adec.e962a4","client":"","x":100,"y":540,"wires":[["3f8c9b9e.d42ea4"]]},{"id":"66dc3ef9.0a7ce","type":"http request","z":"d138947f.fd823","name":"TTS","method":"POST","ret":"txt","paytoqs":"ignore","url":"http://192.168.0.177:12101/api/text-to-speech","tls":"","persist":false,"proxy":"","authType":"","x":1450,"y":420,"wires":[[]]},{"id":"d7fab366.05313","type":"change","z":"d138947f.fd823","name":"set notification as payload for TTS","rules":[{"t":"set","p":"payload","pt":"msg","to":"notification","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1260,"y":480,"wires":[["66dc3ef9.0a7ce"]]},{"id":"e2302041.5c8c6","type":"function","z":"d138947f.fd823","name":"timer done","func":"\nreturn {payload: \"Teimer abgelaufen\"};","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1270,"y":280,"wires":[["66dc3ef9.0a7ce"]]},{"id":"d9f6eede.07ca","type":"function","z":"d138947f.fd823","name":"start radio alarm","func":"return msg = {payload : \"load radiostations\"};","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1260,"y":240,"wires":[["6db5ca73.6e5fd4","171b50f6.2ae5f7"]]},{"id":"171b50f6.2ae5f7","type":"function","z":"d138947f.fd823","name":"repeat","func":"return msg = {payload : \"repeat 1\"};","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1430,"y":220,"wires":[["9a3f074.b6e6678","6db5ca73.6e5fd4"]]},{"id":"9a3f074.b6e6678","type":"function","z":"d138947f.fd823","name":"on","func":"return msg = {payload : \"play\"};","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1530,"y":340,"wires":[["6db5ca73.6e5fd4"]]},{"id":"2865faf1.28970e","type":"function","z":"d138947f.fd823","name":"stop radio alarm","func":"return msg = {payload : \"stop\"};","outputs":1,"noerr":0,"initialize":"","finalize":"","x":460,"y":600,"wires":[["fc3efd1b.251468","6db5ca73.6e5fd4"]]},{"id":"fc3efd1b.251468","type":"function","z":"d138947f.fd823","name":"clear","func":"return msg = {payload : \"clear\"};","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1230,"y":600,"wires":[["6db5ca73.6e5fd4"]]},{"id":"cfafcf20.a5eb5","type":"websocket in","z":"6f202e71.5b2ff","name":"rhasspy in","server":"5999adec.e962a4","client":"","x":120,"y":300,"wires":[["e287dda5.f7e32"]]},{"id":"e287dda5.f7e32","type":"switch","z":"6f202e71.5b2ff","name":"check intent","property":"intent.name","propertyType":"msg","rules":[{"t":"eq","v":"GoodMorning","vt":"str"}],"checkall":"false","repair":false,"outputs":1,"x":270,"y":300,"wires":[["60380faf.f3b1c8","9856261.9bb56d8"]]},{"id":"60380faf.f3b1c8","type":"function","z":"6f202e71.5b2ff","name":"enable light with 25%","func":"var val = 255 / 100 * 25;\nmsg.payload = { \n    \"state\":\"ON\",\n    \"brightness\": val\n};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":420,"y":200,"wires":[["933fb3be.52a15"]]},{"id":"933fb3be.52a15","type":"mqtt out","z":"6f202e71.5b2ff","name":"lamp","topic":"zigbee2mqtt/0x00158d000520ac5e/set","qos":"","retain":"","broker":"14b868fb.a55b7f","x":650,"y":180,"wires":[]},{"id":"9856261.9bb56d8","type":"change","z":"6f202e71.5b2ff","name":"set default city gummersbach","rules":[{"t":"set","p":"location.city","pt":"msg","to":"Gummersbach","tot":"str"},{"t":"set","p":"location.country","pt":"msg","to":"germany","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":300,"y":360,"wires":[["86a8cac8.6bacf"]]},{"id":"6f33f261.a94e84","type":"function","z":"6f202e71.5b2ff","name":"","func":"msg = {payload: \"Guten Morgen. Hier ist das Wetter für \" + msg.location.city + \": \" +  msg.payload[0].weather[0].description + \", bei \" + Math.round(msg.payload[0].main.temp) + \" Grad. Die Luftfeuchtigkeit beträgt: \" + msg.payload[0].main.humidity + \" %.\"};\nreturn msg;\n\n\n\n\n/*\nmsg = {payload: \"Hier ist das Wetter für \" + msg.payload.location + \": \" +  msg.payload.detail + \", bei \" + Math.round(msg.payload.tempc) + \" Grad. Die Luftfeuchtigkeit beträgt: \" + msg.payload.humidity + \" %.\"};\nreturn msg;\n*/","outputs":1,"noerr":0,"initialize":"","finalize":"","x":280,"y":480,"wires":[["c447476c.554c48"]]},{"id":"c447476c.554c48","type":"http request","z":"6f202e71.5b2ff","name":"TTS","method":"POST","ret":"txt","paytoqs":"ignore","url":"http://192.168.0.177:12101/api/text-to-speech","tls":"","persist":false,"proxy":"","authType":"","x":530,"y":440,"wires":[["de3510d5.39afe8"]]},{"id":"a4949dde.9bbe9","type":"function","z":"6f202e71.5b2ff","name":"load","func":"return msg = {payload : \"load radiostations\"};","outputs":1,"noerr":0,"initialize":"","finalize":"","x":790,"y":300,"wires":[["9fc14c56.00a408","296d41ec.92854e"]]},{"id":"296d41ec.92854e","type":"function","z":"6f202e71.5b2ff","name":"repeat","func":"return msg = {payload : \"repeat 1\"};","outputs":1,"noerr":0,"initialize":"","finalize":"","x":870,"y":220,"wires":[["d4aa9580.8ec3e","9fc14c56.00a408"]]},{"id":"d4aa9580.8ec3e","type":"function","z":"6f202e71.5b2ff","name":"on","func":"return msg = {payload : \"play\"};","outputs":1,"noerr":0,"initialize":"","finalize":"","x":950,"y":160,"wires":[["9fc14c56.00a408"]]},{"id":"de3510d5.39afe8","type":"http request","z":"6f202e71.5b2ff","name":"request info from api","method":"GET","ret":"obj","paytoqs":"ignore","url":"https://services7.arcgis.com/mOBPykOjAyBO2ZKk/arcgis/rest/services/RKI_Landkreisdaten/FeatureServer/0/query?outFields=*&where=%20(BEZ%20%3D%20'Landkreis'%20OR%20BEZ%20%3D%20'Kreis'%20OR%20BEZ%20%3D%20'Kreisfreie%20Stadt'%20OR%20BEZ%20%3D%20'Bezirk')%20&f=json","tls":"","persist":false,"proxy":"","authType":"","x":620,"y":360,"wires":[["b0fbe5ae.31382"]]},{"id":"b0fbe5ae.31382","type":"function","z":"6f202e71.5b2ff","name":"build tts","func":"for(i = 0; i < msg.payload.features.length; i++) {\n    if(\"Oberbergischer Kreis\".toLowerCase() === msg.payload.features[i].attributes.GEN.toLowerCase()) \n    {\n        msg.payload = \"Hier sind die Korona Informationen für den Oberbergischen Kreis: es gab insgesamt \" + msg.payload.features[i].attributes.cases + \" Fälle von Korona, davon sind \" + msg.payload.features[i].attributes.cases7_lk + \" in den letzten 7 Tagen aufgetreten. Gestorben sind insgesamt \" + msg.payload.features[i].attributes.deaths + \" Menschen, davon \" + msg.payload.features[i].attributes.death7_lk + \" in den letzten 7 Tagen. Die 7 Tage Inzidenz liegt bei \" + msg.payload.features[i].attributes.cases7_per_100k_txt;\n        return msg;\n        \n    }\n}\nmsg.payload = \"Fehler\";\nreturn msg;\n\n//msg.slots.district.toLowerCase()","outputs":1,"noerr":0,"initialize":"","finalize":"","x":620,"y":300,"wires":[["426233a5.0cebbc"]]},{"id":"426233a5.0cebbc","type":"http request","z":"6f202e71.5b2ff","name":"TTS","method":"POST","ret":"txt","paytoqs":"ignore","url":"http://192.168.0.177:12101/api/text-to-speech","tls":"","persist":false,"proxy":"","authType":"","x":690,"y":260,"wires":[["a4949dde.9bbe9"]]},{"id":"44c01fb6.28dc9","type":"mpd out","z":"a65a3a94.635d98","name":"","topic":"","server":"9a410553.e09e3","x":1080,"y":440,"wires":[[]]},{"id":"6db5ca73.6e5fd4","type":"mpd out","z":"d138947f.fd823","name":"","topic":"","server":"9a410553.e09e3","x":1620,"y":520,"wires":[[]]},{"id":"9fc14c56.00a408","type":"mpd out","z":"6f202e71.5b2ff","name":"","topic":"","server":"9a410553.e09e3","x":1020,"y":320,"wires":[[]]},{"id":"d6ea68c9.b13b5","type":"sqlite","z":"d138947f.fd823","mydb":"7ffb752e.52a1bc","sqlquery":"msg.topic","sql":"","name":"send statement to db","x":680,"y":320,"wires":[["2f4b42af.6fdbb6","83cc3c71.6a41d8"]]},{"id":"10629c5c.0f3314","type":"sqlite","z":"d138947f.fd823","mydb":"7ffb752e.52a1bc","sqlquery":"msg.topic","sql":"","name":"send statement to db","x":680,"y":500,"wires":[["791877e5.612e2"]]},{"id":"3c3e035d.7b8494","type":"sqlite","z":"d138947f.fd823","mydb":"7ffb752e.52a1bc","sqlquery":"msg.topic","sql":"","name":"send statement to db","x":680,"y":380,"wires":[["de577fa1.a2eb1"]]},{"id":"27319554.0d883a","type":"sqlite","z":"d138947f.fd823","mydb":"7ffb752e.52a1bc","sqlquery":"msg.topic","sql":"","name":"send statement to db","x":680,"y":560,"wires":[["ff9a4dc0.25c67"]]},{"id":"2cfd5c2b.8b212c","type":"sqlite","z":"d138947f.fd823","mydb":"7ffb752e.52a1bc","sqlquery":"msg.topic","sql":"","name":"send statement to db","x":1180,"y":560,"wires":[[]]},{"id":"ccf13712.ad0298","type":"sqlite","z":"d138947f.fd823","mydb":"7ffb752e.52a1bc","sqlquery":"msg.topic","sql":"","name":"send statement to db","x":680,"y":440,"wires":[["83cc3c71.6a41d8"]]},{"id":"ab55003f.511db8","type":"sqlite","z":"d138947f.fd823","mydb":"7ffb752e.52a1bc","sqlquery":"msg.topic","sql":"","name":"send statement to db","x":960,"y":340,"wires":[[]]},{"id":"d15788cf.54c868","type":"openweathermap","z":"56873a2d.9358bc","name":"","wtype":"forecast","lon":"","lat":"","city":"","country":"","language":"de","x":730,"y":220,"wires":[["e6afaaa1.ef1d38"]]},{"id":"1a11cd5d.fdb1c3","type":"openweathermap","z":"56873a2d.9358bc","name":"","wtype":"current","lon":"","lat":"","city":"","country":"","language":"de","x":730,"y":260,"wires":[["7bdae2cc.0d140c"]]},{"id":"9dfda428.a27bd8","type":"openweathermap","z":"56873a2d.9358bc","name":"","wtype":"current","lon":"","lat":"","city":"","country":"","language":"de","x":730,"y":300,"wires":[["e8365b5d.1ec958"]]},{"id":"1255db08.dd5ecd","type":"openweathermap","z":"56873a2d.9358bc","name":"","wtype":"onecall","lon":"","lat":"","city":"","country":"","language":"de","x":730,"y":340,"wires":[["792aa1a1.6b9108"]]},{"id":"86a8cac8.6bacf","type":"openweathermap","z":"6f202e71.5b2ff","name":"","wtype":"forecast","lon":"","lat":"","city":"","country":"","language":"de","x":290,"y":420,"wires":[["6f33f261.a94e84"]]}]