docs/files/flow_current-time.json
[
    {
        "id": "48004b8d.6f1d24",
        "type": "tab",
        "label": "Time",
        "disabled": false,
        "info": ""
    },
    {
        "id": "608ed535.15eb7c",
        "type": "function",
        "z": "48004b8d.6f1d24",
        "name": "generate time string",
        "func": "var today = new Date();\nvar time = today.getHours() + \" Uhr \" + today.getMinutes();\nmsg = { payload: \"Es ist \" + time };\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 580,
        "y": 240,
        "wires": [
            [
                "cc5de36a.afec6"
            ]
        ]
    },
    {
        "id": "cc5de36a.afec6",
        "type": "http request",
        "z": "48004b8d.6f1d24",
        "name": "TTS",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://192.168.0.177:12101/api/text-to-speech",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 790,
        "y": 240,
        "wires": [
            []
        ]
    },
    {
        "id": "a6bc54e.66deca8",
        "type": "switch",
        "z": "48004b8d.6f1d24",
        "name": "check intent",
        "property": "intent.name",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "GetTime",
                "vt": "str"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 1,
        "x": 370,
        "y": 240,
        "wires": [
            [
                "608ed535.15eb7c"
            ]
        ]
    },
    {
        "id": "38886150.c2667e",
        "type": "websocket in",
        "z": "48004b8d.6f1d24",
        "name": "rhasspy in",
        "server": "5999adec.e962a4",
        "client": "",
        "x": 200,
        "y": 240,
        "wires": [
            [
                "a6bc54e.66deca8"
            ]
        ]
    },
    {
        "id": "5999adec.e962a4",
        "type": "websocket-listener",
        "path": "ws://192.168.0.177:12101/api/events/intent",
        "wholemsg": "true"
    }
]