config/node-red/solo-flows/flow_light-control.json
[
    {
        "id": "86964d6.3cc53b",
        "type": "tab",
        "label": "Lightcontrol",
        "disabled": false,
        "info": ""
    },
    {
        "id": "6b955ac.e921624",
        "type": "websocket in",
        "z": "86964d6.3cc53b",
        "name": "rhasspy in",
        "server": "5999adec.e962a4",
        "client": "",
        "x": 180,
        "y": 300,
        "wires": [
            [
                "88648a4f.4c0ad8"
            ]
        ]
    },
    {
        "id": "a41d16ba.61ed68",
        "type": "template",
        "z": "86964d6.3cc53b",
        "name": "turn off",
        "field": "payload",
        "fieldType": "msg",
        "format": "json",
        "syntax": "plain",
        "template": "{\n    \"state\":\"OFF\"\n}",
        "output": "json",
        "x": 710,
        "y": 400,
        "wires": [
            [
                "7ebe2e46.54f6a8"
            ]
        ]
    },
    {
        "id": "728c4843.cc97d8",
        "type": "template",
        "z": "86964d6.3cc53b",
        "name": "turn on",
        "field": "payload",
        "fieldType": "msg",
        "format": "json",
        "syntax": "plain",
        "template": "{\n    \"state\":\"ON\"\n}",
        "output": "json",
        "x": 720,
        "y": 360,
        "wires": [
            [
                "7ebe2e46.54f6a8"
            ]
        ]
    },
    {
        "id": "6bc90460.b848dc",
        "type": "switch",
        "z": "86964d6.3cc53b",
        "name": "check temp",
        "property": "slots.temp",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "warm",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "kalt",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 530,
        "y": 300,
        "wires": [
            [
                "d963cc19.d2dd18"
            ],
            [
                "9dcfd09d.b9c0c"
            ]
        ]
    },
    {
        "id": "d963cc19.d2dd18",
        "type": "template",
        "z": "86964d6.3cc53b",
        "name": "set warm",
        "field": "payload",
        "fieldType": "msg",
        "format": "json",
        "syntax": "plain",
        "template": "{\n    \"state\":\"ON\",\n    \"color_temp\":500\n}",
        "output": "json",
        "x": 720,
        "y": 280,
        "wires": [
            [
                "7ebe2e46.54f6a8"
            ]
        ]
    },
    {
        "id": "9dcfd09d.b9c0c",
        "type": "template",
        "z": "86964d6.3cc53b",
        "name": "set cold",
        "field": "payload",
        "fieldType": "msg",
        "format": "json",
        "syntax": "plain",
        "template": "{\n    \"state\":\"ON\",\n    \"color_temp\":150\n}",
        "output": "json",
        "x": 720,
        "y": 320,
        "wires": [
            [
                "7ebe2e46.54f6a8"
            ]
        ]
    },
    {
        "id": "d4774b2e.745628",
        "type": "mqtt out",
        "z": "86964d6.3cc53b",
        "name": "lamp",
        "topic": "zigbee2mqtt/0x00158d000520ac5e/set",
        "qos": "",
        "retain": "",
        "broker": "14b868fb.a55b7f",
        "x": 1230,
        "y": 320,
        "wires": []
    },
    {
        "id": "88648a4f.4c0ad8",
        "type": "switch",
        "z": "86964d6.3cc53b",
        "name": "check intent",
        "property": "intent.name",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "ChangeBrightness",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "ChangeTemp",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "ChangeLightState",
                "vt": "str"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 3,
        "x": 350,
        "y": 300,
        "wires": [
            [
                "dafb6ccd.ae6f5"
            ],
            [
                "6bc90460.b848dc"
            ],
            [
                "4c371a21.6afe04"
            ]
        ]
    },
    {
        "id": "4c371a21.6afe04",
        "type": "switch",
        "z": "86964d6.3cc53b",
        "name": "check on or off",
        "property": "slots.state",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "ein",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "an",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "aus",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 3,
        "x": 520,
        "y": 380,
        "wires": [
            [
                "728c4843.cc97d8"
            ],
            [
                "728c4843.cc97d8"
            ],
            [
                "a41d16ba.61ed68"
            ]
        ]
    },
    {
        "id": "dafb6ccd.ae6f5",
        "type": "function",
        "z": "86964d6.3cc53b",
        "name": "set brightness",
        "func": "var val = 255 / 100 * msg.slots.percent;\nmsg.payload = { \n    \"state\":\"ON\",\n    \"brightness\": val\n};\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 720,
        "y": 220,
        "wires": [
            [
                "7ebe2e46.54f6a8"
            ]
        ]
    },
    {
        "id": "7ebe2e46.54f6a8",
        "type": "switch",
        "z": "86964d6.3cc53b",
        "name": "check room if there is one",
        "property": "slots.room",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "wohnzimmer",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "schlafzimmer",
                "vt": "str"
            },
            {
                "t": "null"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 3,
        "x": 1010,
        "y": 320,
        "wires": [
            [
                "d4774b2e.745628"
            ],
            [],
            [
                "d4774b2e.745628"
            ]
        ]
    },
    {
        "id": "5999adec.e962a4",
        "type": "websocket-listener",
        "path": "ws://192.168.0.177:12101/api/events/intent",
        "wholemsg": "true"
    },
    {
        "id": "14b868fb.a55b7f",
        "type": "mqtt-broker",
        "name": "Intern MQTT",
        "broker": "192.168.0.177",
        "port": "12183",
        "clientid": "",
        "usetls": false,
        "compatmode": false,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    }
]